/*----------------------------------------------------------------------------------------------------
**
** File Name    :ExtBROWSER_FF.css
**
** Module       : FCJWeb
**
** This source is part of the Oracle Flexcube Universal Banking
** Software System and is copyrighted by Oracle Financial Services Software Limited.

** All rights reserved.  No part of this work may be reproduced,
** stored in a retrieval system, adopted or transmitted in any form
** or by any means, electronic, mechanical, photographic, graphic,
** optic recording or otherwise, translated in any language or
** computer language, without the prior written permission  from Oracle Financial Services
** Software Limited.

** Oracle Financial Services Software Limited.,
** 10-11, SDF I, SEEPZ, Andheri (East),
** MUMBAI - 400 096.
** INDIA.

Copyright © 2009-2012  by Oracle Financial Services Software Limited..
----------------------------------------------------------------------------------------------------
*/

/* Style definitions specific to firefox 3.5+ */

/* Browser specific for precise alignment*/
.TXTstd{
	BORDER-BOTTOM: #c7d7f0 1px solid;
	BORDER-LEFT: #c7d7f0 1px solid;
	MARGIN: 0px;
	PADDING:0px;
        FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif;
	COLOR: #00366a;
	FONT-SIZE: 0.74em;
	VERTICAL-ALIGN: top;
	BORDER-TOP: #c7d7f0 1px solid;
	BORDER-RIGHT: #c7d7f0 1px solid
}

.BTNimg{
	BORDER-BOTTOM: 1px solid #6c91b5 ;
        TEXT-ALIGN: center;
	BORDER-LEFT: 1px solid #6c91b5;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px 2px;
	PADDING-LEFT: 0px;
	WIDTH: 1.36em;
	PADDING-RIGHT: 0px;
	/*BACKGROUND: url(../Images/ExtFlexblue/Backgrounds/BGBTNimg.gif) #ecf4ff repeat-x;*/   /* Data-URI Changes */
        BACKGROUND: url("data:image/gif;base64,R0lGODlhAQAQAPMAAP///9Hf6vj6/NTh69Pg69nj7v/+/+zx9+bu9P37/dvl7vH2+eLr8vb5+/39/uDn8CwAAAAAAQAQAEMEDBAgUdx6xKR2mBpBBAA7") #ecf4ff repeat-x;
	HEIGHT: 1.25em;
	VERTICAL-ALIGN: top;
	BORDER-TOP: 1px solid #6c91b5;
	CURSOR: auto;
	BORDER-RIGHT: 1px solid #6c91b5;
	PADDING-TOP: 0px
}

.BTNimg SPAN {
  margin-left:-2px;
  margin-top:-1px
}
.BTNimgD SPAN {
  margin-left:-2px;
  margin-top:-1px
}

.BTNimgH SPAN {
  margin-left:-2px;
  margin-top:-1px
}

.BTNimgH{
	BORDER-BOTTOM: 1px solid #6c91b5;
	TEXT-ALIGN: center;
	BORDER-LEFT: 1px solid #6c91b5;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px 2px;
	PADDING-LEFT: 0px;
	WIDTH: 1.36em;
	PADDING-RIGHT: 0px;
	BACKGROUND: url(../Images/ExtFlexblue/Backgrounds/BGBTNimgh.gif) #fff8f0 repeat-x;
	HEIGHT: 1.25em;
	VERTICAL-ALIGN: top;
	BORDER-TOP: 1px solid #6c91b5;
	CURSOR: auto;
	BORDER-RIGHT: 1px solid #6c91b5;
	PADDING-TOP: 0px
}

.BTNtext:disabled{
  COLOR: #C0C0C0;
  TEXT-SHADOW: 1px 1px #FFFFFF
}

.BTNfooter:disabled{
  COLOR: #C0C0C0;
  TEXT-SHADOW: 2px 2px #FFFFFF
}



/*.ICOAlert_C{BACKGROUND-POSITION: -176px -75px;margin:0px; padding:0px}
.ICOAlert_E{BACKGROUND-POSITION: -242px -75px;margin:0px; padding:0px}
.ICOAlert_I{BACKGROUND-POSITION: -198px -75px;margin:0px; padding:0px}
.ICOAlert_O{BACKGROUND-POSITION: -220px -75px;margin:0px; padding:0px}
.ICOaccessibility{BACKGROUND-POSITION: -506px 0px;margin:0px; padding:0px}
.ICOadd{BACKGROUND-POSITION: -157px -55px;margin:0px; padding:0px}
.ICOalert2{BACKGROUND-POSITION: -440px -75px;margin:0px; padding:0px}
.ICOauthorize{BACKGROUND-POSITION: -176px 0px;margin:0px; padding:0px}
.ICOblank{BACKGROUND-POSITION: -396px -175px;margin:0px; padding:0px}
.ICObwindow{BACKGROUND-POSITION: -88px -25px;margin:0px; padding:0px}
.ICOcalendar{BACKGROUND-POSITION: -244px -55px;margin:0px; padding:0px}
.ICOchangepassword{BACKGROUND-POSITION: -462px 0px;margin:0px; padding:0px}
.ICOchecked{BACKGROUND-POSITION: -220px -25px; margin:0px; padding:0px}
.ICOchgbrn{BACKGROUND-POSITION: -396px 0px;margin:0px; padding:0px}
.ICOclose{BACKGROUND-POSITION: -66px 0px;margin:0px; padding:0px}
.ICOconfirm{BACKGROUND-POSITION: -242px 0px;margin:0px; padding:0px}
.ICOcopy{BACKGROUND-POSITION: -22px 0px; margin:0px; padding:0px}
.ICOcustinfo{BACKGROUND-POSITION: -352px -53px;margin:0px; padding:0px}
.ICOcustomer{BACKGROUND-POSITION: -66px -75px;margin:0px; padding:0px}
.ICOdebugwin{BACKGROUND-POSITION: -484px 0px; margin:0px; padding:0px}
.ICOdelete{BACKGROUND-POSITION: -44px 0px;margin:0px; padding:0px}
.ICOdoc{BACKGROUND-POSITION: -44px -53px; margin:0px; padding:0px}
.ICOdwindow{BACKGROUND-POSITION: -66px -25px;margin:0px; padding:0px}
.ICOexit{BACKGROUND-POSITION: -132px -75px;margin:0px; padding:0px}
.ICOfirst{BACKGROUND-POSITION: -68px -55px; margin:0px; padding:0px}
.ICOfirst2{BACKGROUND-POSITION: -22px -53px; margin:0px; padding:0px}
.ICOflexcube{BACKGROUND-POSITION: -154px -75px; margin:0px; padding:0px}
.ICOflexcube2{BACKGROUND-POSITION: -462px -75px;margin:0px; padding:0px}
.ICOfliph{BACKGROUND-POSITION: -484px -53px; margin:0px; padding:0px}
.ICOflipv{BACKGROUND-POSITION: -506px -53px;margin:0px; padding:0px}
.ICOgenerate{BACKGROUND-POSITION: -352px 0px; margin:0px; padding:0px}
.ICOgo{BACKGROUND-POSITION: -132px -25px; margin:0px; padding:0px}
.ICOhelp{BACKGROUND-POSITION: -308px -75px;margin:0px; padding:0px}
.ICOhelpX{BACKGROUND-POSITION: -308px -75px; margin:0px; padding:0px}
.ICOhold{BACKGROUND-POSITION: -286px 0px;margin:0px; padding:0px}
.ICOhome{BACKGROUND-POSITION: -374px 0px; margin:0px; padding:0px}
.ICOlast{BACKGROUND-POSITION: -91px -55px; margin:0px; padding:0px}
.ICOlast2{BACKGROUND-POSITION: 0px -53px; margin:0px; padding:0px}
.ICOliquidate{BACKGROUND-POSITION: -264px 0px; margin:0px; padding:0px}
.ICOlov{BACKGROUND-POSITION: -268px -54px;margin:0px; padding:0px}
.ICOmenu{BACKGROUND-POSITION: 0px -75px;margin:0px; padding:0px}
.ICOnarrative{BACKGROUND-POSITION: -289px -55px;margin:0px; padding:0px}
.ICOnew{BACKGROUND-POSITION: 0px 0px; margin:0px; padding:0px}
.ICOnext{BACKGROUND-POSITION: -112px -55px; margin:0px; padding:0px}
.ICOoffline{BACKGROUND-POSITION: -440px 0px; margin:0px; padding:0px}
.ICOonline{BACKGROUND-POSITION: -418px 0px; margin:0px; padding:0px}
.ICOoperations{BACKGROUND-POSITION: -22px -75px; margin:0px; padding:0px}
.ICOoptions{BACKGROUND-POSITION: -264px -75px; margin:0px; padding:0px}
.ICOoptionsX{BACKGROUND-POSITION: -264px -75px; margin:0px; padding:0px}
.ICOprevious{BACKGROUND-POSITION: -134px -55px; margin:0px; padding:0px}
.ICOprint{BACKGROUND-POSITION: -132px 0px;margin:0px; padding:0px}
.ICOqueryenter{BACKGROUND-POSITION: -176px -25px; margin:0px; padding:0px}
.ICOqueryexecute{BACKGROUND-POSITION: -198px -25px; margin:0px; padding:0px}
.ICOqwindow{BACKGROUND-POSITION: -110px -25px;margin:0px; padding:0px}
.ICOrefresh{BACKGROUND-POSITION: -154px -25px; margin:0px; padding:0px}
.ICOremove{BACKGROUND-POSITION: -179px -55px;margin:0px; padding:0px}
.ICOreopen{BACKGROUND-POSITION: -110px 0px;margin:0px; padding:0px}
.ICOreverse{BACKGROUND-POSITION: -198px 0px;margin:0px; padding:0px}
.ICOrollover{BACKGROUND-POSITION: -220px 0px; margin:0px; padding:0px}
.ICOrotateanticlk{BACKGROUND-POSITION: -462px -53px;margin:0px; padding:0px}
.ICOrotateclk{BACKGROUND-POSITION: -440px -53px; margin:0px; padding:0px}
.ICOrwindow{BACKGROUND-POSITION: -44px -25px;margin:0px; padding:0px}
.ICOsave{BACKGROUND-POSITION: -154px 0px; margin:0px; padding:0px}
.ICOsearch{BACKGROUND-POSITION: -220px -53px;margin:0px; padding:0px}
.ICOseparator{BACKGROUND-POSITION: -396px -75px; margin:0px; padding:0px}
.ICOsessionend{BACKGROUND-POSITION: -330px -53px;margin:0px; padding:0px}
.ICOsessionstart{BACKGROUND-POSITION: -308px -53px;margin:0px; padding:0px}
.ICOsessionwho{BACKGROUND-POSITION: -374px -53px;margin:0px; padding:0px}
.ICOsignoff{BACKGROUND-POSITION: -110px -75px; margin:0px; padding:0px}
.ICOsingleview{BACKGROUND-POSITION: -201px -55px; margin:0px; padding:0px}
.ICOstar{BACKGROUND-POSITION: -421px -78px;margin:0px; padding:0px}
.ICOswindow{BACKGROUND-POSITION: -22px -25px; margin:0px; padding:0px}
.ICOteller{BACKGROUND-POSITION: -88px -75px;margin:0px; padding:0px}
.ICOtemplate{BACKGROUND-POSITION: -308px 0px;margin:0px; padding:0px}
.ICOunchecked{BACKGROUND-POSITION: -242px -25px;margin:0px; padding:0px}
.ICOunlock{BACKGROUND-POSITION: -88px 0px; margin:0px; padding:0px}
.ICOview{BACKGROUND-POSITION: -330px 0px;margin:0px; padding:0px}
.ICOwindow{BACKGROUND-POSITION: 0px -25px;margin:0px; padding:0px}
.ICOwindows{BACKGROUND-POSITION: -286px -75px; margin:0px; padding:0px}
.ICOwindowsX{BACKGROUND-POSITION: -286px -75px;margin:0px; padding:0px}
.ICOworkflow{BACKGROUND-POSITION: -44px -75px;margin:0px; padding:0px}
.ICOzoomin{BACKGROUND-POSITION: -396px -53px; margin:0px; padding:0px}
.ICOzoomout{BACKGROUND-POSITION: -418px -53px;margin:0px; padding:0px}*/


.LBLstd {word-wrap:break-word}
/*udf change*/
.LBLUdf {word-wrap:break-word}
/*udf change */
BUTTON SPAN, B SPAN, A span{ margin-left:0px}
#nav B span {margin-left:0px}
.DIVHeaderBodyContainer {width:100%}
.CHKstd , .RADstd{margin-top:0px}
.RADstd{margin:0px 0px 3px 0px}

#TBL_QryRslts .TBLoneTD1, #TBL_QryRslts .TBLone TD {
	PADDING: 5px 5px 1px 5px;
}

#TBL_QryRslts .TBLoneTH1, #TBL_QryRslts .TBLoneTH, #TBL_QryRslts .TBLoneTHhover{
	PADDING: 5px 5px 1px 5px;
}	

.TBLoneTD1 {
	PADDING: 2px;
}

.TBLone TD {
    PADDING: 2px 6px;
}

.TBLoneTH1, .TBLoneTH, .TBLoneTHhover{
	PADDING: 2px;
}	

/*#TblQuery button {position:absolute}*/

/* Fix for scrolling head in LOV and add/del in ME */
.DIVgrid {position: absolute;}
.DIVcaption1{position:fixed} /* Fix for 15829798*/
textarea{
  resize:none;
}

