/*----------------------------------------------------------------------------------------------------
**
** File Name    :ExtIE7.css
**
** Module       : FCJWeb
**
** This source is part of the Oracle Flexcube Universal Banking
** Software System and is copyrighted by Oracle Financial Services Software Limited.

** All rights reserved.  No part of this work may be reproduced,
** stored in a retrieval system, adopted or transmitted in any form
** or by any means, electronic, mechanical, photographic, graphic,
** optic recording or otherwise, translated in any language or
** computer language, without the prior written permission  from Oracle Financial Services
** Software Limited.

** Oracle Financial Services Software Limited.,
** 10-11, SDF I, SEEPZ, Andheri (East),
** MUMBAI - 400 096.
** INDIA.

Copyright  2009-2011  by Oracle Financial Services Software Limited..
----------------------------------------------------------------------------------------------------
*/

/* This file is for the backward compatibility with IE7 */

.DIVHeaderBodyContainer {position:relative}
/*#TblQuery button {position:absolute}*/
#WORKkSrch_btns {margin-top:-1em}
.DIVcaption1{position:fixed} /* works in mozilla as well */
.DIVtblbox1outer3 .hh4 {position:fixed} /* For LOV only*/
.FSTdlg {margin:0px}

.DIVHeader {
    width:100%; 
    clear:both
}

#loginContent {
    background-image: url(../Images/logincentre.gif);
}

#loginContent_fcis {
    background-image: url(../Images/logincentre_fcis.gif);
}

.BTNIconAuthorize {
    BACKGROUND: url(../Images/Toolbar/authorize.gif) #fff no-repeat left 1px
}

.BTNIconClose {
    BACKGROUND: url(../Images/Toolbar/close.gif) #fff no-repeat left 1px
}

.BTNIconConfirm {
    BACKGROUND: url(../Images/Toolbar/confirm.gif) #fff no-repeat left 1px
}

.BTNIconCopy {
    BACKGROUND: url(../Images/Toolbar/copy.gif) #fff no-repeat left 1px
}

.BTNIconDelete {
    BACKGROUND: url(../Images/Toolbar/delete.gif) #fff no-repeat left 1px
}

.BTNIconEnterQuery {
    BACKGROUND: url(../Images/Toolbar/query.gif) #fff no-repeat left 1px
}

.BTNIconExecuteQuery {
    BACKGROUND: url(../Images/Toolbar/executequery.gif) #fff no-repeat left 1px
}

.BTNIconGenerate {
    BACKGROUND: url(../Images/Toolbar/generate.gif) #fff no-repeat left 1px
}

.BTNIconHold {
    BACKGROUND: url(../Images/Toolbar/hold.gif) #fff no-repeat left 1px
}

.BTNIconLiquidate {
    BACKGROUND: url(../Images/Toolbar/liquidate.gif) #fff no-repeat left 1px
}

.BTNIconNew {
    BACKGROUND: url(../Images/Toolbar/new.gif) #fff no-repeat left 1px
}

.BTNIconPrint {
    BACKGROUND: url(../Images/Toolbar/print.gif) #fff no-repeat left 1px
}

.BTNIconReopen {
    BACKGROUND: url(../Images/Toolbar/reopen.gif) #fff no-repeat left 1px
}

.BTNIconReverse {
    BACKGROUND: url(../Images/Toolbar/reverse.gif) #fff no-repeat left 1px
}

.BTNIconRollover {
    BACKGROUND: url(../Images/Toolbar/rollover.gif) #fff no-repeat left 1px
}

.BTNIconSave {
    BACKGROUND: url(../Images/Toolbar/save.gif) #fff no-repeat left 1px
}

.BTNIconTemplate {
    BACKGROUND: url(../Images/Toolbar/template.gif) #fff no-repeat left 1px
}

.BTNIconUnlock {
    BACKGROUND: url(../Images/Toolbar/lock.gif) #fff no-repeat left 1px
}

.BTNIconView {
    BACKGROUND: url(../Images/Toolbar/view.gif) #fff no-repeat left 1px
}

.BTNIconExport {
    BACKGROUND: url(../Images/Toolbar/Export.gif) #fff no-repeat left 1px
}

.BTNIconAdancedSearch {
    BACKGROUND: url(../Images/Toolbar/Adanced_Search.gif) #fff no-repeat left 1px
}

.BTNIconRefresh {
    BACKGROUND: url(../Images/Toolbar/Refresh.gif) #fff no-repeat left 1px
}

.BTNIconReset {
    BACKGROUND: url(../Images/Toolbar/Reset.gif) #fff no-repeat left 1px
}

.BTNIconClearAll {
    BACKGROUND: url(../Images/Toolbar/Clear_All.gif) #fff no-repeat left 1px
}

.DIVtab .Htabdsb SPAN {
    BACKGROUND: url(../Images/ExtFlexblue/Backgrounds/BGRTabDRight.gif) no-repeat 100% 0%;
}

.SPNup {
    BACKGROUND: url(../Images/ExtFlexblue/Icons/up.gif) no-repeat
}

.WNDcls {
    BACKGROUND-IMAGE: url(../Images/ExtFlexblue/Icons/WNDcls.gif);
}

.WNDclsH {
    BACKGROUND-IMAGE: url(../Images/ExtFlexblue/Icons/WNDclsH.gif);
}

.WNDmax {
    BACKGROUND-IMAGE: url(../Images/ExtFlexblue/Icons/WNDmax.gif);
}

.WNDmaxH {
    BACKGROUND-IMAGE: url(../Images/ExtFlexblue/Icons/WNDmaxH.gif);
}

.WNDmin {
    BACKGROUND-IMAGE: url(../Images/ExtFlexblue/Icons/WNDmin.gif);
}

.WNDminH {
    BACKGROUND-IMAGE: url(../Images/ExtFlexblue/Icons/WNDminH.gif);
}

.WNDtitlebar {
    BACKGROUND: url(../Images/ExtFlexblue/Backgrounds/BGwndtitle3.gif) #004eb4 repeat-x 50% top;
}

.masker {
    BACKGROUND: url(../Images/BGmask.gif);
}

.tabbg2 .Htaball {
    BACKGROUND: url(../Images/ExtFlexblue/Backgrounds/BGRTabLeft2.gif) no-repeat
}

.tabbg2 .Htaball SPAN {
    BACKGROUND: url(../Images/ExtFlexblue/Backgrounds/BGRTabRight2.gif) no-repeat 100% 0%;
}

.treeclosed {
    BACKGROUND: url(../Images/ExtFlexblue/Icons/taskclosed.gif) #fff no-repeat left 1px;
}

.treenode {
    BACKGROUND: url(../Images/ExtFlexblue/Icons/list.gif) #fff no-repeat left 1px;
}

.treeopen {
    BACKGROUND: url(../Images/ExtFlexblue/Icons/taskopen.gif) #fff no-repeat left 1px;
}

.treeview LI.submenu {
    BACKGROUND: url(../Images/ExtFlexblue/Icons/taskclosed.gif) #fff no-repeat left 1px;
}

.ICObrwMinimizer {
    BACKGROUND: url(../Images/ExtFlexblue/Icons/gortl.gif) no-repeat 0px 0px
}

.ICObrwMaximizer {
    BACKGROUND: url(../Images/ExtFlexblue/Icons/go.gif) no-repeat 0px 0px
}

/* arb changes*/
.ICOgortl {
    background: url("../Images/ExtFlexblue/Icons/gortl.gif") no-repeat scroll 0 0 transparent;
}

.sectionExpand{
    background: url("../Images/ExtFlexblue/Icons/taskclosed.gif") no-repeat scroll 0 0 transparent;
}

.sectionCollapse{
   background: url("../Images/ExtFlexblue/Icons/taskopen.gif") no-repeat scroll 0 0 transparent;
}

.ICOdoc{BACKGROUND: url(../Images/ExtFlexblue/Icons/ICOdoc.gif) no-repeat;}
  .ICOfirst{BACKGROUND: url(../Images/ExtFlexblue/Icons/ICOfirst.gif) no-repeat;}
  .ICOfirst2{BACKGROUND: url(../Images/ExtFlexblue/Icons/ICOfirst2.gif) no-repeat;}
  .ICOlast{BACKGROUND: url(../Images/ExtFlexblue/Icons/ICOlast.gif) no-repeat;}
  .ICOlast2{BACKGROUND: url(../Images/ExtFlexblue/Icons/ICOlast2.gif) no-repeat;}
  .ICOnext{BACKGROUND: url(../Images/ExtFlexblue/Icons/ICOnext.gif) no-repeat;}
  .ICOprevious{BACKGROUND: url(../Images/ExtFlexblue/Icons/ICOprevious.gif) no-repeat;}
  .ICOadd{BACKGROUND: url(../Images/ExtFlexblue/Icons/ICOadd.gif) no-repeat;}
  .ICOremove{BACKGROUND: url(../Images/ExtFlexblue/Icons/ICOremove.gif) no-repeat;}
  .ICOsingleview{BACKGROUND: url(../Images/ExtFlexblue/Icons/ICOsingleview.gif) no-repeat;}
  .ICOsearch{BACKGROUND: url(../Images/ExtFlexblue/Icons/ICOsearch.gif) no-repeat;}
  .ICOflexcube{BACKGROUND: url(../Images/ExtFlexblue/Icons/ICOflexcube.gif) no-repeat;}
  .ICOAlert_C{BACKGROUND: url(../Images/ExtFlexblue/Icons/ICOAlert_C.gif) no-repeat;}
  .ICOAlert_E{BACKGROUND: url(../Images/ExtFlexblue/Icons/ICOAlert_E.gif) no-repeat;}
  .ICOAlert_I{BACKGROUND: url(../Images/ExtFlexblue/Icons/ICOAlert_I.gif) no-repeat;}
  .ICOAlert_O{BACKGROUND: url(../Images/ExtFlexblue/Icons/ICOAlert_O.gif) no-repeat;}
  .ICOcalendar{
  BACKGROUND: url(../Images/ExtFlexblue/Icons/calendar.gif) no-repeat ;
  margin:0px
  }
  .ICOgo{BACKGROUND: url(../Images/ExtFlexblue/Icons/go.gif) no-repeat;}
  .ICOlov{BACKGROUND: url(../Images/ExtFlexblue/Icons/Lov.gif) no-repeat;}
  .ICOalert2{BACKGROUND: url(../Images/ExtFlexblue/Icons/ICOAlert_I.gif) no-repeat;}
  .ICOnarrative{BACKGROUND: url(../Images/ExtFlexblue/Icons/ICOnarrative.gif) no-repeat;}
  .ICOzoomin{BACKGROUND: url(../Images/ExtFlexblue/Icons/zoomin.gif) no-repeat;}
  .ICOzoomout{BACKGROUND: url(../Images/ExtFlexblue/Icons/zoomout.gif) no-repeat;}
  .ICOrotateclk{BACKGROUND: url(../Images/ExtFlexblue/Icons/rclock.gif) no-repeat;}
  .ICOrotateanticlk{BACKGROUND: url(../Images/ExtFlexblue/Icons/ranticlock.gif) no-repeat;}
  .ICOfliph{BACKGROUND: url(../Images/ExtFlexblue/Icons/fliph.gif) no-repeat;}
  .ICOflipv{BACKGROUND: url(../Images/ExtFlexblue/Icons/flipv.gif) no-repeat;}
  
  .subSystemExpand{
   background: url("../Images/ExtFlexblue/Icons/Expand_arrow.gif") no-repeat scroll 0 0 transparent;
}

.subSystemCollapse{
   background: url("../Images/ExtFlexblue/Icons/collapse_arrow.gif") no-repeat scroll 0 0 transparent;
}

.star{
	background:url(../Images/star.gif) no-repeat top right;
}