/*----------------------------------------------------------------------------------------------------
**
** File Name    :ExtLTR.css
**
** Module       : FCJWeb
**
** This source is part of the Oracle Flexcube Universal Banking
** Software System and is copyrighted by Oracle Financial Services Software Limited.

** All rights reserved.  No part of this work may be reproduced,
** stored in a retrieval system, adopted or transmitted in any form
** or by any means, electronic, mechanical, photographic, graphic,
** optic recording or otherwise, translated in any language or
** computer language, without the prior written permission  from Oracle Financial Services
** Software Limited.

** Oracle Financial Services Software Limited.,
** 10-11, SDF I, SEEPZ, Andheri (East),
** MUMBAI - 400 096.
** INDIA.

Copyright © 2009-2012  by Oracle Financial Services Software Limited..
----------------------------------------------------------------------------------------------------
*/

/* Layout styles for Left-to-Right languages */

/* Tiji - 27/8/2011 not required since the table is removed */
/* 
#TblQuery .LBLauto {
	margin-left:-4px;
	float:left;
}
*/

.DIVchkrad {
	float:left; 
	margin-left:-4px
/*	margin-left:7px	*/
}

.SPNradio {
	padding-left:1px;                        
	float:left   	
}

.SPNcheck {
	padding-left:1px;                        
	text-align:left; 
}
	  	
.LBLstd{
	float:left;
	clear:left;
	text-align:right;
	padding-left:1px
}
/*UDF Changes Start*/
.LBLUdf{
	float:left;
	clear:left;
	text-align:right;
	padding-left:1px
}
/*.LBLUdf{
	text-align:left;
}*/
/*UDF Changes End*/

.LBLauto{
	float:left;
	clear:left;
	text-align:right;
	padding-left:4px
}


#TBLlovsearch .LBLauto {
	float:right;
	margin-right:5px;
}

#ADVsearchTBL .LBLauto {
	float:none
}
.detailnavrgt
{
    float:right;
    /*mar14*/
    margin-right: 10px;
}


/*.TBLhfst td {
    padding-right:1px
}*/

.DIVbar1 {
	text-align:right; 
}

.DIVtblbox1outer {
	margin-left:2px;
}

.DIVtblbox1outer2 {
	margin-left:2px;
}

/*div.DIVtblbox1 td.locked, div.DIVtblbox1 th.locked{
	position: relative;
}
*/
/* Horizontal Tabs */

.DIVtabC {
	float:left;
/*	width:100%; */
	padding:0;
}

.DIVtabP {
	float:left;
/*	width:100%; */
	padding:0;
	margin:0;
}

.DIVtab {
	float:left;
/*	width:100%*/
}

/*keydown changes*/
.DIVtab ul, .DBoardHeadDiv ul {
	margin-left:1px;
	margin-right:0px;
  /*1202 nls*/
  float:left;
}

/*keydown changes*/
.DIVtab li, .DBoardHeadDiv LI {
	margin-left:0;	
	margin-right:1px;
	/*FIx for 17028615*/
	float:left;
}

.DIVtab a {
	/*padding-left: 5px;*/
	margin-left:2px
}

.DIVtab a, .DIVtab a span {
	float: left
}

.DIVtab a span {
	padding-left:2px;
	padding-right:2px
}

/* Vertical Tabs */

.DIVvtabC {
	float:left
}

.DIVvtabH {
/*	float:left; */
	text-align:right;
	clear:left;
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 5px;		
}

.SPNvtabH {
	float:left
}

.DIVvtab a {
	clear:left;
	padding-left:6px;
	padding-right:6px
}


.DIVMultipleSmall,.DIVMultipleMedium,.DIVMultipleBig{
	float:left;
	margin-left:5px
}

.DIVpage {
	float:left;
	text-align:right 
}

.SPNpageH {
	float:left
}

.DIVgridH {
	text-align:right 
}

.SPNgridH {
	float:left
}

/*Change for header in ME screen start*/
.DIVgrid,.DIVGridME  {
	text-align:right
}
/*Change for header in ME screen end*/

.SPNgrid {
	float:left
}

.CHKstd {
	float:left
}


.RADstd {
	float:left
}

.DIVdash {
	float:left
}

.DIVfooter {
	float:left;
	clear:both
}

.DIVAudit {
	float:left;
	clear:both
}

.treeview {
	margin-left:10px;
}

/* Added 18/3/09 */

.DIVThreeColSectionContainer,.DIVTwoColSectionContainer,.TwoColSectionContainer {
	float:left;
	clear:both
}

.DIVColumnOne,.DIVSubColumnOne,.DIVColumnDouble,.DIVColumnTripple,.DIVColumnSingle, .DIVColumnMin, .DIVColumnMed, .DIVColumnMax, .DIVColumnOneAndHalf {
	float:left;
	margin-right:.25em;
	/*.DIVColumnTwo,.DIVColumnThree,.DIVSubColumnDouble,.DIVSubColumnThree,.DIVSubColumnTripple,.DIVSubColumnTwo,*/
}

.BODYLogin table label {
    float:right
}

.DIVLogin {
    margin-left:250px;
    margin-right:20px;
}

.DIVVersion {
    margin-left:9px;
}

/* Added 20/3/09 */

#DIVQuery,#DIVlegend,.DIVSummary {
	margin-left:2px
}

.DIVHeaderBodyContainer {
/*	padding-left:6px; 
	padding-right:6px;
	padding-top:0px;
	padding-bottom:0px;*/
        padding:0px;
	float:left;
/*	width:62.5em;*/
}
/* FC 11.4 NLS Changes Starts */
/* Tiji/25-4-2011 */
.DIVHeader {float:left}
/* FC 11.4 NLS Changes Ends*/

/*.DIVSubField {
	clear:left
}*/

.DIVCheck {
	clear:left
}

.DIVRadio {
	clear:left
}

.DIVList {
	clear:left
}

.DIVText {
	clear:left
}

/*.DIVGroup {
	clear:left
}*/

.TDAuditButton {
	text-align:right
}

.DIVmnu .SPNmnu, .DIVmnuH .SPNmnu  {
    float:left
}

.DIVmnu .BTNicon, .DIVmnuH .BTNicon, .DIVmnu .BTNiconD {
    float:left
}


.TBLlyt TH {
	text-align:right;
	padding-right:10px;
}

/* FCUBS 11 changes */
/*udf change*/
.LBLstd,.LBLUdf ,.THgrid .SPNtext, .THgridH .SPNtext, .SPNgridH {
	padding-right:12px;
}
/* udf change*/
/* change for holiday maint alignment */
.LBLinvCal
{
    padding-right:1px;
}
/* Tiji 19/5/10 for extra padding removal */
/*added padding-top to remove the extra padding in audit block  */
.DIVAudit .LBLstd {padding-right:3px ; padding-top:0px;}

.DIVchkrad .LBLstd {padding:0px}

.star{
/* Data-URI Changes Starts*/
/*background:url(../Images/star.gif) no-repeat top right;*/ 
background:url("data:image/gif;base64,R0lGODlhCwAPAPAAAP8AAAAAACH5BAEAAAEALAAAAAALAA8AQAIUjI8Jm+0PVQDz0YgzvG5xRIVaVgAAOw==") no-repeat top right;
/* Data-URI Changes Ends*/
}

.DIVchkrad .LBLauto {
	text-align:left
}

.DIVAbutton{
	float:left;
	width:100%
}

.Abutton, .AbuttonH, .AbuttonD {	margin:1px 0px 1px 1px;}

.DIVAbutton LI{
	FLOAT: left;
}	


.BTNhide {
	float:left;
}

.TDbtnfooter {
	 white-space:nowrap;
	 padding-right:10px;
	 text-align:right;
	 clear:left;
}

.DIVtab {
	float:left;
}

.DIVAudit .FSTcell {
	float:left;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ll_ExtLTR.css starts */

/* Styles for landing page 11.0 */

/* Ashok 12.0.2
#logoleft {
	float:left;
    margin-right:50px;
}


#logoright {
	right:3px;
}
*/

#vtab {
	float:left;
	background-position:right;
	margin-left:0px;
	margin-right:0px;
}

#vtabMin {
	float:left;
	background-position:right;
	margin-left:0px;
	margin-right:0px;
}


#dashboard {
	float:left;
	margin-left:1px;	
	margin-right:0px;	
}

#MenuSearchDiv {
	float:left;
	margin-left:1px;	
	margin-right:0px;	
}
#nav ul	{ 
	left:0; 
}

#nav li		{ 
	float:left; /* nls 1201 changes */
}

#nav ul a{ 
	text-align:left;
}

#nav a, #nav ul a, #nav ul a b{ 
	float:left
}

.IMGanchor  {
	float:left;
}

.TBnavL {
	float:left
}

.TBnavR {
	float:right;
	text-align:right;
}

/* arb changes*/
/*mar14*/
.TBgp3{float:left;}
.TBgp1,.TBgp2,.TBgpFL, .TBlogo{float:right;}

.TBgplast,.TBgpFR {float:right}

.WNDfooter, .WNDfootermodal {
	text-align:right
}

.WNDtitlebar b {float:left; margin-left:2px}

b span{
	display:block;
	float:left	
}

.DIVloader {
	right:20.5em
} 

/* Advanced Search Dialog */

#container, #left, #middle, #middle div,#right  {
	float:left;
}

.DIVcopyright .SPNstext {padding-left:4px}

/* 11.3 addition */
.Textleft {
	text-align:left
}

.Fleft{
	float:left
}

.Fright{
	float:right
}

.FleftBtns {
	float:left
}

#MINwinds li {float:left}

#MinwindL, #MinwindC, #MinwindR{float:left}

#MINwinds .WNDtitlebar .WNDtitletxt {margin:0px 0px 0px 5px}

/* Tiji 30-5-2011 added for StyleDesigner */
@media print {
	.tabcontent {
	display:block !important;
	}
}

/*Fix for 14777907  */
.LBLinv2 {
	visibility:hidden;
	white-space:nowrap
}/*11.4 addition */
/*Fix for 14753509 starts */
.LBLinvHF {
visibility:hidden;
white-space:nowrap
}
/*Fix for 14753509 ends */
/*12.0 addition */

.DIVfooterAccess {
	clear:both
}
/*arb changes*/
#btnDiv12{
  float:right;
  margin-right:50px;
}
.BTNicon2Mnu{
float:right;
}



#btnDiv{
float:right;
margin-right:10px;
}

.Abut{
/*12.0.2 changes*/
  float:left;
}

#navTB{
  float:left;
}
#navTB LI{
   float:left;
}
/*12.0.2 Changes Start*/
#displaySearchTitleTxt{
        float:left;
}
#displaySearchTitle{
        float:left; 
}
#searchResulttxt{

        float:right;
}
#searchResult{

         float:right; 
}

/*apr25#pageDiv{
        float:right; 
       
}*/
#btnClose{
        float:right; 
 
}
/*
#pgPrev{
        float:left
}
#pgNext{
        float:right;
}

*/
  .DBoardHeadDiv A{
  /*feb22*/
    float:left;
/*keydown changes*/
	margin-left:5px;
  }
/*keydown changes*/
  .DBoardHeadClose{
	  margin-left:5px;
  }
  
  /*mar14*/
.DashDIVnav1{
  padding-left:10px;
}

.DashDIVnav1 select{
  float:left;
}
/*MAR19*/
.sectionToggle{
    float:left;
  }
  
.toggleDivHeader FIELDSET{
  float:left;
}
/*1202 nls start*/
.loginLogo1{
  float:left;
}

/*1202 nls*/

.DBoardHeadDiv span{
  /* keydown changes margin-left: 5px;*/
   float:right;
}
/*apr25*/
.LBLmenustd, .Abutton, .AbuttonD , .AbuttonH, .subSystemContainer div, #resultsLink
{
  float:left;
}

.subSystemContainer span{
  margin-left:-4px;
}

.subSystemContainer .BTNicon,.subSystemContainer .BTNiconD, .subSystemContainer .BTNiconH {
    float: right;
}

/*apr25*/
#MenuSearchResultDiv .BTNfooter, #MenuSearchResultDiv .BTNfooterH{
	float:right;
	margin-right: 5px;
}



/*12.0.2 Changes End*/