/*----------------------------------------------------------------------------------------------------
**
** File Name    :ExtRTL.css
**
** Module       : FCJWeb
**
** This source is part of the Oracle Flexcube Universal Banking
** Software System and is copyrighted by Oracle Financial Services Software Limited.

** All rights reserved.  No part of this work may be reproduced,
** stored in a retrieval system, adopted or transmitted in any form
** or by any means, electronic, mechanical, photographic, graphic,
** optic recording or otherwise, translated in any language or
** computer language, without the prior written permission  from Oracle Financial Services
** Software Limited.

** Oracle Financial Services Software Limited.,
** 10-11, SDF I, SEEPZ, Andheri (East),
** MUMBAI - 400 096.
** INDIA.

Copyright © 2009-2012  by Oracle Financial Services Software Limited..
----------------------------------------------------------------------------------------------------
*/

/* Layout styles for Right-to-Left languages */



/*FC 11.4 NLS Changes Starts*/

body {
	direction:rtl
}
/* Tiji 27-4-2011 */
html {right:0px}
/*FC 11.4 NLS Changes Ends*/

/* Tiji - 27/8/2011 not required since the table is removed */
/*
#TblQuery .LBLauto {
	margin-right:-4px;
	float:right;
}
*/

.DIVchkrad {
	float:right; 
	margin-right:-4px;
/*	margin-right:7px*/			
}
.detailnavrgt
{
    float:left;
    /*mar14*/
    margin-left:10px;
}

.DIVchkrad .LBLstd {
	clear:both;
	text-align:left;
	margin:0px;
}

.SPNradio {
	float:right; 
	padding-right:1px 
}

.SPNcheck {
	padding-right:1px;
	text-align:right;
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */ 
}

.LBLstd{
	float:right;
	clear:right;
	text-align:left;
	padding-right:1px
}
/*udf change*/
.LBLUdf{
	float:right;
	clear:right;
	text-align:left;
	padding-right:1px
}
/*udf change*/
.LBLauto{
	float:right;
	clear:right;
	text-align:left;
	padding-right:1px
}

#TBLlovsearch .LBLauto {
	float:left;
	margin-left:5px;
}

#ADVsearchTBL .LBLauto {
	float:none
}

/*.TBLhfst td {
    padding-left:1px
}*/

.DIVbar1 {
	text-align:left; 
}

.DIVtblbox1outer {
	margin-right:1px
}

.DIVtblbox1outer2{
	margin-right:1px;
}

/*div.DIVtblbox1 td.locked, div.DIVtblbox1 th.locked{
	position: relative;
}*/

/* Horizontal Tabs */

.DIVtabC {
	float:right;
	/*width:100%;  This is required for RTL layout*/
	margin:0;
	padding:0;	
}	

.DIVtabP {
	float:right;
	/*width:100%;  This is required for RTL layout*/
	margin:0;
	padding:0;
}	

.DIVtab {
	float:none
}


.DIVtab ul {
/*1202 nls*/
	float:right;
	margin-left:0;
	margin-right:1px;
  
	/* arb changes clear:both*/
}

.DIVtab li {
	float:right;
	margin-left:0;	
	margin-right:1px	
}

.DIVtab a {
	padding-left: 5px;
	margin-right:2px	
}

.DIVtab a, .DIVtab a span {
	float:none
}

.DIVtab a span {
	padding-left:2px;
	padding-right:7px	
}

/* Vertical Tabs */

.DIVvtabC {
	float:right;
	clear:left
}

.DIVvtabH {
	text-align:left;
	clear:right;
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 10px;		
}

.SPNvtabH {
	float:right
}

.DIVvtab a {
	clear:left;
	padding-left:6px;
	padding-right:6px
}


.DIVMultipleSmall,.DIVMultipleMedium,.DIVMultipleBig{
	float:right;
	margin-right:5px
}	

.DIVpage {
	text-align:left; 
	float:right
}

.SPNpageH {
	float:right
}	

.DIVgridH {
	text-align:left; 
}

.SPNgridH {
	float:right
}

/*Change for header in ME screen start*/
.DIVgrid ,.DIVGridME{
	text-align:left
}
/*Change for header in ME screen end*/


.SPNgrid {
	float:right
}

.CHKstd {
	float:right
}


.RADstd {
	float:right
}

.DIVdash {
	float:left;
	clear:left
}

.DIVfooter {
	float:left;
	clear:both
}

.DIVAudit {
	float:left;
	clear:left
}
/* FC 11.4 NLS Changes*/
.treeview {
	margin-right:5px;
}

/* Added 18/3/09 */

.DIVThreeColSectionContainer,.DIVTwoColSectionContainer,.TwoColSectionContainer {   
	float:right;
	clear:both
}

.DIVColumnOne,.DIVSubColumnOne,.DIVColumnDouble,.DIVColumnTripple, .DIVColumnSingle, .DIVColumnMin, .DIVColumnMed, .DIVColumnMax, .DIVColumnOneAndHalf {
	float:right;
	margin-right:.25em;
	/*.DIVColumnThree, .DIVColumnTwo,.DIVSubColumnDouble,.DIVSubColumnThree,.DIVSubColumnTripple,.DIVSubColumnTwo,*/
}  

/* Added 20/3/09 */

#DIVlegend,#DIVQuery,.DIVSummary {
	margin-right:1px
}

/*.DIVHeaderBodyContainer {
	clear:both;
	float:left
}   */

.DIVHeaderBodyContainer {
/*	padding-left:6px; 
	padding-right:6px;
	padding-top:0px;
	padding-bottom:10px;*/
        padding:0px;
	float:left;
	/*width:62.5em;*/
}   
/* FC 11.4 NLS Changes*/
/* Tiji/25-4-2011 */
.DIVHeader {float:none}  

/*.DIVSubField {
	clear:left
}*/

.DIVCheck {
	text-align:right;
	clear:right
}

.DIVRadio {
	text-align:right;
	clear:right
}

.DIVList {
	text-align:right
}

.DIVText {
	text-align:right;
	clear:right
}

/*.DIVGroup {
	clear:right
}
*/
.TDAuditButton {
	text-align:left
}

.DIVmnu .SPNmnu, .DIVmnuH .SPNmnu  {
    float:right
}

.DIVmnu .BTNicon, .DIVmnuH .BTNicon, .DIVmnu .BTNiconD {
    float:right
}

.TBLlyt TH {
	text-align:left;
	padding-left:10px;	
}

/* FCUBS 11 changes */

.LBLstd,.LBLUdf,.THgrid .SPNtext, .THgridH .SPNtext, .SPNgridH {
	padding-left:12px;
}
/* change for holiday maint alignment */
.LBLinvCal
{
padding-left:1px;
}
/* Tiji 19/5/10 for extra padding removal */
/* added padding-top to remove the extra padding in audit block */
.DIVAudit .LBLstd {padding-left:3px ; padding-top :0px; }

.DIVText table {
	direction:rtl; 
	float:right
}
/* FC 11.4 NLS Changes Starts */
.treeview UL{
/* Tiji 13/12/10 */	
	background-position:right 0px;
	margin:0px;
	padding:0px
/*	padding:0px 8px 0px 0px;
	display:block;
	float:right*/
}
.treeview LI.submenu {
/* Tiji 13/12/10 */
	background-position:right top;
}
.treeview LI, .treeview ul li {
/* Tiji 13/12/10 */
	padding:0px 18px 0px 0px;
	margin:0px;
/*	padding:2px 0px 1px 0px;*/
	background-position:top 0px;
}
.treeview .Astd, .treeview ul li .Astd  {
/*	margin:0px 20px 0px 0px; 
	padding: 0px; 
	display:block; 
	vertical-align:top;*/
}
/* Tiji 15-12-10 */
.DIVAbutton LI, .DIVAbutton {float:right}
/*shihab changes */
.DIVcal{
   margin-right:20px;
}
/* FC 11.4 NLS Changes Ends */
.star{
/* Data-URI Changes Starts*/
/*background:url(../Images/star.gif) no-repeat top left;*/
background:url("data:image/gif;base64,R0lGODlhCwAPAPAAAP8AAAAAACH5BAEAAAEALAAAAAALAA8AQAIUjI8Jm+0PVQDz0YgzvG5xRIVaVgAAOw==") no-repeat top left;
/* Data-URI Changes Ends*/
}
.DIVchkrad .LBLauto {
	text-align:right
}

.DIVAbutton{
	float:left;
	width:100%
}

.Abutton, .AbuttonH, .AbuttonD {	margin:1px 1px 1px 0px;}

.DIVAbutton LI{
	FLOAT: right
}	

.TDbtnfooter {
	 white-space:nowrap;
	 padding-left:10px;
	 text-align:left;
}

.DIVtab {
	float:right;
}

.SPNtbltwoC, .SPNtbltwoH {float:right}

.TBLtwo td button {float:right}

.DIVAudit .FSTcell {
	float:right;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ll_ExtRTL.css starts */

/* Styles for landing page 11.0 */

/* Ashok 12.0.2
#logoleft {
	float:right;
	margin-left:50px;
}


#logoright {
	left:3px;
}
*/

#vtab {
	float:right;
	background-position:left;
	margin-left:0px;
 
/*	arb changes margin-right:4px;	*/
}

#dashboard {
	float:right;
	margin-left:3px;	
	margin-right:0px;	
}

#MenuSearchDiv {
	float:right;
	margin-left:1px;	
	margin-right:0px;	
}
/* FC 11.4 NLS Changes */
#nav ul	{ 
/* Tiji April-11-2011 */
	right:0; 
}

/* FC 11.4 NLS Changes */
#nav li		{ 
/* Tiji April-6-2011 */
	float:right; /* nls 1201 changes */
}

/* FC 11.4 NLS Changes */
#nav ul a{ 
/* Tiji April-11-2011 */
	text-align:right;
}
/* FC 11.4 NLS Changes */

#nav a, #nav ul a{ 
/* Tiji April-11-2011 */
	float:left
}

/* FC 11.4 NLS Changes */
#nav ul a b {
/* Tiji April-11-2011 */
	float:right
}

.IMGanchor  {
	float:right;
}

.TBnavL {
	float:right
}

.TBnavR {
	float:left;
	text-align:left
}

/*arb changes
.TBgp1,.TBgp2,.TBgp3,.TBgpFL,.TBlogo {float:right}*/
/*mar14*/
.TBgp3{float:right;}
.TBgp1,.TBgp2,.TBgpFL,.TBlogo {float:left}

.TBgplast,.TBgpFR  {float:left}

.WNDfooter, .WNDfootermodal {
	text-align:left
}
/* FC 11.4 NLS Changes Starts*/
/* Tiji 12-4-2011 */
.WNDtitlebar b {float:right; margin-right:2px}
/* FC 11.4 NLS Changes Ends*/

b span{
	display:block;
	float:left	
}

.DIVloader {
	left:20.5em
} 

/* Advanced Search Dialog */

#container, #left, #middle, #middle div,#right  {
	float:right;
}

.DIVcopyright .SPNstext {padding-right:4px}

/* 11.3 addition */

.Textleft {
	text-align:right
}

.Fleft{
	float:right
}

.Fright{
	float:left
}

.FleftBtns {
	float:right
}

#MINwinds li {float:left}

#MinwindL, #MinwindC, #MinwindR{float:right}

#MINwinds .WNDtitlebar .WNDtitletxt {margin:0px 5px 0px 0px}

/*Fix for 14777907  */
.LBLinv2 {
	visibility:hidden;
	white-space:nowrap
}/*11.4 addition */

/*Fix for 14753509 starts */
.LBLinvHF {
visibility:hidden;
white-space:nowrap
}
/*Fix for 14753509 ends */

/* FC 11.4 NLS Changes Starts */
/* Tiji 12-4-2011 */
.WNDtitletxt {float:right; text-align:right}
.WNDbuttons {float:left}
.WNDbuttons a {float:left}

/* Tiji 26-4-2011 copying rad 11.2 fixes for LOV issue*/
.WNDtitlebar{display:block; float:left; position:absolute; left:0;  width:100%}
.WNDcontent {margin-top:1.5em}
/* FC 11.4 NLS Changes Ends */

.DIVfooterAccess {
	clear:both
}

/*arb changes*/
#btnDiv12{
  float:left;
  margin-left:50px;
}
.BTNicon2Mnu{
float:left;
}

#btnDiv{
float:left;
margin-left:10px;
}

.Abut{
  float:left;
}

#navTB{
  float:right;
}

#navTB LI{
   float:right;
}

/*12.0.2 Changes Start*/
#displaySearchTitleTxt{
        float:right;
}
#displaySearchTitle{
        float:right; 
}
#searchResulttxt{

        float:left;
}
#searchResult{

         float:left; 
}

/*apr25#pageDiv{
        float:left; 
       
}*/
#btnClose{
        float:left; 
 
}
/*
#pgPrev{
        float:right;
}
#pgNext{
        float:left;
}*/
  .DBoardHeadDiv A{
  /*feb22*/
    float:right;
/*keydown changes */
	margin-right:5px;
  }
    /*mar14*/
.DashDIVnav1{
  padding-right:10px;
}

.DashDIVnav1 select{
  float:right;
}
/*MAR19*/
.sectionToggle{
    float:right;
  }

.toggleDivHeader FIELDSET{
  float:right;
}

/*1202 nls start*/
.loginLogo1{
  float:right;
}

.DBoardHeadDiv span{

/*keydown changes   margin-right: 5px;*/
   float:left;
}
/*keydown changes*/
.DBoardHeadClose{
	margin-right:5px;
  }

/*apr25*/
.LBLmenustd, .Abutton, .AbuttonD , .AbuttonH, .subSystemContainer div, #resultsLink{




  float:right;
}
.subSystemContainer span{
  margin-right:-8px;
}

.subSystemContainer .BTNicon, .subSystemContainer .BTNiconD, .subSystemContainer .BTNiconH {
    float: left;
}
/*apr25*/
#MenuSearchResultDiv .BTNfooter, #MenuSearchResultDiv .BTNfooterH{
	float:left;
	margin-left: 5px;
}
/*12.0.2 Changes Ends*/