/*----------------------------------------------------------------------------------------------------
**
** File Name    :IE7.css
**
** Module       : FCJWeb
**
** This source is part of the Oracle Flexcube Universal Banking
** Software System and is copyrighted by Oracle Financial Services Software Limited.

** All rights reserved.  No part of this work may be reproduced,
** stored in a retrieval system, adopted or transmitted in any form
** or by any means, electronic, mechanical, photographic, graphic,
** optic recording or otherwise, translated in any language or
** computer language, without the prior written permission  from Oracle Financial Services
** Software Limited.

** Oracle Financial Services Software Limited.,
** 10-11, SDF I, SEEPZ, Andheri (East),
** MUMBAI - 400 096.
** INDIA.

Copyright © 2009-2011  by Oracle Financial Services Software Limited..
----------------------------------------------------------------------------------------------------
*/

/* This file is for the backward compatibility with IE7 */


.DIVHeaderBodyContainer, .DIVtblbox1outer {position:relative}
.DIVcaption1 {
	top: expression(offsetParent.scrollTop+25);
	left: expression(offsetParent.scrollLeft)	
}

#TABLEToolBar{
	BACKGROUND-IMAGE: url(../Images/Toolbar/ToolbarBG.gif);
}

.BTNIconAuthorize{BACKGROUND: url(../Images/Toolbar/authorize.gif) #fff no-repeat left 1px}
.BTNIconClose{BACKGROUND: url(../Images/Toolbar/close.gif) #fff no-repeat left 1px}
.BTNIconConfirm{BACKGROUND: url(../Images/Toolbar/confirm.gif) #fff no-repeat left 1px}
.BTNIconCopy{BACKGROUND: url(../Images/Toolbar/copy.gif) #fff no-repeat left 1px}
.BTNIconDelete{BACKGROUND: url(../Images/Toolbar/delete.gif) #fff no-repeat left 1px}
.BTNIconEnterQuery{BACKGROUND: url(../Images/Toolbar/query.gif) #fff no-repeat left 1px}
.BTNIconExecuteQuery{BACKGROUND: url(../Images/Toolbar/executequery.gif) #fff no-repeat left 1px}
.BTNIconGenerate{BACKGROUND: url(../Images/Toolbar/generate.gif) #fff no-repeat left 1px}
.BTNIconHold{BACKGROUND: url(../Images/Toolbar/hold.gif) #fff no-repeat left 1px}
.BTNIconLiquidate{BACKGROUND: url(../Images/Toolbar/liquidate.gif) #fff no-repeat left 1px}
.BTNIconNew{BACKGROUND: url(../Images/Toolbar/new.gif) #fff no-repeat left 1px}
.BTNIconPrint{BACKGROUND: url(../Images/Toolbar/print.gif) #fff no-repeat left 1px}
.BTNIconReopen{BACKGROUND: url(../Images/Toolbar/reopen.gif) #fff no-repeat left 1px}
.BTNIconReverse{BACKGROUND: url(../Images/Toolbar/reverse.gif) #fff no-repeat left 1px}
.BTNIconRollover{BACKGROUND: url(../Images/Toolbar/rollover.gif) #fff no-repeat left 1px}
.BTNIconSave{BACKGROUND: url(../Images/Toolbar/save.gif) #fff no-repeat left 1px}
.BTNIconTemplate{BACKGROUND: url(../Images/Toolbar/template.gif) #fff no-repeat left 1px}
.BTNIconUnlock{BACKGROUND: url(../Images/Toolbar/lock.gif) #fff no-repeat left 1px}
.BTNIconView{BACKGROUND: url(../Images/Toolbar/view.gif) #fff no-repeat left 1px}
.BTNIconExport{BACKGROUND: url(../Images/Toolbar/Export.gif) #fff no-repeat left 1px}
.BTNIconAdancedSearch{BACKGROUND: url(../Images/Toolbar/Adanced_Search.gif) #fff no-repeat left 1px}
.BTNIconReset{BACKGROUND: url(../Images/Toolbar/Reset.gif) #fff no-repeat left 1px}

.BUTTONInline{
	BACKGROUND: url(../Images/ExtFlexblue/Backgrounds/BGBTNimg.gif) #ecf4ff repeat-x;
}

.BUTTONInline .BTNLov{
  BACKGROUND: url(../Images/Flexblue/Icons/Lov.gif) no-repeat;
}

.BrOffline{
	BACKGROUND: url(../Images/Flexblue/Icons/Offline.gif) no-repeat;
}

.BrOnline{
	BACKGROUND: url(../Images/Flexblue/Icons/Online.gif) no-repeat;
}

.Htab{
	BACKGROUND: url(../Images/Flexblue/Backgrounds/BGRTabLeft.gif) no-repeat
}

.Htab SPAN{
	BACKGROUND: url(../Images/Flexblue/Backgrounds/BGRTabRight.gif) no-repeat 100% 0%;
}

.HtabH{
	BACKGROUND: url(../Images/Flexblue/Backgrounds/BGRTabHLeft.gif) no-repeat left top;
}

.HtabH SPAN{
	BACKGROUND: url(../Images/Flexblue/Backgrounds/BGRTabHRight.gif) no-repeat right top;
}
.TabHead #current .Htab{
	BACKGROUND: url(../Images/Flexblue/Backgrounds/BGRTabSLeft.gif) no-repeat left top;
}

.TabHead #current .Htab SPAN{
	BACKGROUND: url(../Images/Flexblue/Backgrounds/BGRTabSRight.gif) no-repeat right top;
}

.TabHead #current .HtabH{
	BACKGROUND: url(../Images/Flexblue/Backgrounds/BGRTabSLeft.gif) no-repeat left top;
}

.TabHead #current .HtabH SPAN{
	BACKGROUND: url(../Images/Flexblue/Backgrounds/BGRTabSRight.gif) no-repeat right top;
}

.WNDcls{BACKGROUND-IMAGE: url(../Images/Flexblue/Icons/WNDcls.gif);}
.WNDclsH{BACKGROUND-IMAGE: url(../Images/Flexblue/Icons/WNDclsH.gif);}
.WNDmax{BACKGROUND-IMAGE: url(../Images/Flexblue/Icons/WNDmax.gif);}
.WNDmaxH{BACKGROUND-IMAGE: url(../Images/Flexblue/Icons/WNDmaxH.gif);}
.WNDmin{BACKGROUND-IMAGE: url(../Images/Flexblue/Icons/WNDmin.gif);}
.WNDminH{BACKGROUND-IMAGE: url(../Images/Flexblue/Icons/WNDminH.gif);}

.WNDtitlebar{
	BACKGROUND: url(../Images/Flexblue/Backgrounds/BGwndtitle3.gif) #515b76 repeat-x 50% top;
}

.masker{
	BACKGROUND: url(../Images/BGmask.gif);
}

.taskCAPTION{
	BACKGROUND-IMAGE: url(../Images/Flexblue/Backgrounds/BGDIVNavHeader.gif);
}

  .ICOdoc{BACKGROUND: url(../Images/Flexblue/Icons/ICOdoc.gif) no-repeat;}
  .ICOfirst{BACKGROUND: url(../Images/Flexblue/Icons/ICOfirst.gif) no-repeat;}
  .ICOfirst2{BACKGROUND: url(../Images/Flexblue/Icons/ICOfirst2.gif) no-repeat;}
  .ICOlast{BACKGROUND: url(../Images/Flexblue/Icons/ICOlast.gif) no-repeat;}
  .ICOlast2{BACKGROUND: url(../Images/Flexblue/Icons/ICOlast2.gif) no-repeat;}
  .ICOnext{BACKGROUND: url(../Images/Flexblue/Icons/ICOnext.gif) no-repeat;}
  .ICOprevious{BACKGROUND: url(../Images/Flexblue/Icons/ICOprevious.gif) no-repeat;}
  .ICOadd{BACKGROUND: url(../Images/Flexblue/Icons/ICOadd.gif) no-repeat;}
  .ICOremove{BACKGROUND: url(../Images/Flexblue/Icons/ICOremove.gif) no-repeat;}
  .ICOsingleview{BACKGROUND: url(../Images/Flexblue/Icons/ICOsingleview.gif) no-repeat;}
  .ICOsearch{BACKGROUND: url(../Images/Flexblue/Icons/ICOsearch.gif) no-repeat;}
  .ICOflexcube{BACKGROUND: url(../Images/Flexblue/Icons/ICOflexcube.gif) no-repeat;}
  .ICOAlert_C{BACKGROUND: url(../Images/Flexblue/Icons/ICOAlert_C.gif) no-repeat;}
  .ICOAlert_E{BACKGROUND: url(../Images/Flexblue/Icons/ICOAlert_E.gif) no-repeat;}
  .ICOAlert_I{BACKGROUND: url(../Images/Flexblue/Icons/ICOAlert_I.gif) no-repeat;}
  .ICOAlert_O{BACKGROUND: url(../Images/Flexblue/Icons/ICOAlert_O.gif) no-repeat;}
  .ICOcalendar{BACKGROUND: url(../Images/Flexblue/Icons/calendar.gif) no-repeat;}
  .ICOgo{BACKGROUND: url(../Images/Flexblue/Icons/go.gif) no-repeat;}
  .ICOlov{BACKGROUND: url(../Images/Flexblue/Icons/Lov.gif) no-repeat;}
  .ICOalert2{BACKGROUND: url(../Images/Flexblue/Icons/ICOAlert_I.gif) no-repeat;}
  .ICOnarrative{BACKGROUND: url(../Images/Flexblue/Icons/ICOnarrative.gif) no-repeat;}

.subSystemExpand{
   background: url("../Images/Flexblue/Icons/Expand_arrow.gif") no-repeat scroll 0 0 transparent;
}

.subSystemCollapse{
   background: url("../Images/Flexblue/Icons/collapse_arrow.gif") no-repeat scroll 0 0 transparent;
}

