/*----------------------------------------------------------------------------------------------------
**
** File Name    :LTR.css
**
** Module       : FCJWeb
**
** This source is part of the Oracle Flexcube Universal Banking
** Software System and is copyrighted by Oracle Financial Services Software Limited.

** All rights reserved.  No part of this work may be reproduced,
** stored in a retrieval system, adopted or transmitted in any form
** or by any means, electronic, mechanical, photographic, graphic,
** optic recording or otherwise, translated in any language or
** computer language, without the prior written permission  from Oracle Financial Services
** Software Limited.

** Oracle Financial Services Software Limited.,
** 10-11, SDF I, SEEPZ, Andheri (East),
** MUMBAI - 400 096.
** INDIA.

Copyright © 2009-2012  by Oracle Financial Services Software Limited..
----------------------------------------------------------------------------------------------------
*/

/* 

CSS Document containing style definitions for all Left-to-Right languages	
		
IMPORTANT! DONOT EDIT THIS DOCUMENT AS IT HAS STANDARDISED VALUES FOR ALL THEMES						
------------------------------------------------------------------------------------------------------																				
The following style attributes are not allowed in the classes defined in this document 				
color, background-color, background, background-image, padding-top, padding-bottom, padding, 		
margin-top, margin-bottom, margin, border, border-top, border-bottom, border-left, border-right		
display, position, font-face, font-family, font-style, list-style-type, white-space, vertical-align,	 
cursor, width, height																				
------------------------------------------------------------------------------------------------------
*/

.BODYDialog {
	margin-right:10px;
	margin-left:0px
}

/* Layout */

.DIVHeaderBodyContainer {
	padding-left:2px; 
	clear:both
}

.DIVThreeColSectionContainer {
	float:left
}

.DIVTwoColSectionContainer {
	float:left
}

.TwoColSectionContainer { 
	/* Repeated classname */
	float:left
}

.DIVColumnOne,.DIVSubColumnOne,.DIVColumnTwo,.DIVSubColumnTwo,.DIVColumnThree,.DIVSubColumnThree,.DIVColumnDouble,.DIVSubColumnDouble,.DIVColumnTripple,.DIVSubColumnTripple {
	float:left;
	margin-right:.25em
}

.DIVFooter {
	float:left;
	clear:left
}

/* Form */

.SPANTableHeader {
	clear:left;
}

.DIVText,.DIVGroup,.DIVList,.DIVRadio,.DIVCheck,.DIVSubField {
	clear:left
}

.LABELNormal {
	float:left;
	clear:left;
	text-align:right;
	padding-left:1px
}

.LABELSummary {
	text-align:right;
	padding-left:1px
}

.LABELDescription {
	float:left;
    padding-left:1px	
}

.LABELTaskSearch {
	padding-left:1px;
        padding-right:3px;
        float:right
}


.LABELAudit {
	float:right;
	clear:left;
	padding-left:10px;
	padding-right:3px;
	text-align:right
}

.LABELCheckAudit {
	float:left;
	clear:left;
	padding-left:10px;
	padding-right:3px;
	text-align:right
}

.FWLABELAudit {
	padding-left:10px;
	padding-right:3px;
	text-align:left
}

.LABELNotes {
	float:left;
	clear:left;
	padding-left:10px
}

.LABELGroup {
	float:left;
	clear:left;
	padding-left:10px
}

.LABELCheckSummary {
	float:left;
	text-align:left;
	margin-left:-2px
}

.LABELSubField,.LABELSubFieldRO {
	padding-right:2px;
	padding-left:2px
}

.INPUTCheckBoxReadonly {
	float:left
}

.DIVCheckRadio {
	float:left; 
	margin-left:-2px /* Tiji July 27 */
}

.LABELCheck {
/*	float:left;*/
	text-align:left;
	margin-left:0px
}

.LABELCheckInline {
	padding-right:3px;
	margin-left:0px;
	margin-right:0px
}


.SPANCheck {
	float:left; 
	padding-left:1px     
}


.LABELSubCheck {
	float:left;
	text-align:left;
	padding-left:1px           
}

.SPANSubCheck {	
	float:left
}

.INPUTCheck,.INPUTCheckReadonly {
	float:left
}

.LABELRadio {
	float:left;
	text-align:left;
	margin-left:0px
}

.LABELRadioInline {	
	padding-right:3px
}

.SPANRadio {
	padding-left:1px;                        
	float:left          
}

.LABELSubRadio {
	float:left;
	text-align:left
}

.SPANSubRadio {
	float:left; 
	padding-left:1px                       
}

.INPUTRadio,.INPUTRadioReadonly {	
	float:left
}

/* Tabs */

.TabHead {
	float:left
}

.TabHead ul {
	float:left;
	margin-left:5px;
	margin-right:0
}

.TabHead li {
	float:left;
	margin-left:0;	
	margin-right:2px
}

.TabHead a {
	padding-left: 5px
}

.TabHead a, .TabHead a span {
	float: left
}

.TabHead a span {
	padding-left:2px;
	padding-right:7px
}

.TabHead #current a, .TabHead #current a:hover {
	padding-left: 5px
}

.TabHead #current a span, .TabHead #current a:hover span {
	padding-left:2px;
	padding-right:7px
}

.TabHead a:hover,.TabHead a:active {
	padding-left:5px
}

.TabHead a:hover span,.TabHead a:active span {
	padding-left:2px;
	padding-right:7px
}

.DIVTabPageContent {
	float:left
}

/* Subsystem */

.DIVSubSystem {
	text-align:left;
	float:left;
	clear:left
}


.DIVSubSystem ul {
	clear:both
}

.DIVSubSystem li {
	float:left
}

.BUTTONSubSystem,.BUTTONSubSystemDisabled {
	margin:1px 0px 1px 1px;
}

/* Audit */

.DIVAudit {
/*	float:left;
	clear:left*/
}

.TABLEAudit td {
	padding-left:8px	
}

.TDAuditButton {
	text-align:right
}

.FIELDSETSub {
	clear:both
}

.FIELDSETAudit,.FIELDSETAuditTwo {
	padding-left:0px;
	margin-left:.25em;	
	float:left
}

/* Multiple Entry */

.DIVMultipleSmall,.DIVMultipleMedium,.DIVMultipleBig{
	float:left;
	margin-left:5px
}

.HeaderMultiple {
	text-align:right
}

.SPANHeaderMultiple {
	float:left
}

/* Summary */

/*#TblQuery label  {
	float:right
}*/

#DIVQuery,#DIVlegend,.DIVSummary {
	margin-left:2px
}

.HeaderSummary {
	text-align:right
}

.SPANHeaderSummary {
	float:left
}

.SPANSummarySearch {
	float:left
}

div.DIVSummaryInner td.locked,  th.locked{
/*	left: expression(offsetParent.scrollLeft) */
}

.TABLESummary td {
	padding-left:3px;
	padding-right:3px
}

.LABELSummaryHead {
	padding-left:3px;
	padding-right:3px
}	

/* Misc */

/*.RequiredField {
	float:left
}
*/

.DIVText img, .DIVCheck img, .DIVRadio img {float:left}

.DIVPagingContainer {
	float:left;
	text-align:right 
}

.DIVPagingContainerMESV {
	text-align:right; 
    clear:both
}

.TDHighlightOne {
	text-align:left
}

.drag-handle{ 
	padding-left:25px;
	padding-right:4px;		
	text-align:left
}

.drag-handle .drag-controls{ 
	right:3px
}	

.drag-resizearea {
	float:right
}

.drag-contentarea{ 
	padding-left:3px;
	padding-right:3px
}

.FCicon {
	left:4px
}

.TDLovReductionLbl {
	text-align:right;
	padding-right:10px;                     
	padding-left:10px                      
}

.TDLovFetch { 
	text-align:right
}

.calBtnNav,.calBtnNavOver,.calBtnGoto,.calBtnGotoOver {
	margin-left:1px;
	padding-left:3px;
	padding-right:3px
}

.TABLECustData th {
	text-align:right
}

.CAPTIONUnderline {
    text-align:left
}

.TABLEAccesskeys th,.TABLEAccesskeys td {
	text-align:left
}

/* Landing Page */

#DIVNavPane {
	float:left
}

/* Ashok 12.0.2
#DIVTaskArea {
	float:left
}
*/

.DIVNavHeader {
	float:left; 
	clear:left
}

.NavHeaderButton {
	float:right
}

.SPANNavHeader {
	float:left
}

.taskCAPTION {
	clear:left;
	text-align:left;
	padding-left:10px;
	padding-right:10px;
}

.tasklistCAPTION {
	text-align:left
}


.tasklistCAPTION img {
	margin-right:10px
}


/* NavPanel */

.NavPanel a {
	clear:left;
	padding-left:6px;
	padding-right:6px
}

.NavPanel .Current {
	padding-left:6px;
	padding-right:6px
}

.DIVNavPanelContent {
	float:left
}

.DIVCustSearch {
	padding-left:0px
}

.DIVCustSearch label {
	float:left;
	clear:left;
	text-align:right;
	padding-left:1px
}

.LinkLandingHeader {
	padding-right:5px 
}

.TDLinkLandingHeader {
	padding-left:2px;
	padding-right:3px		
}

.LinkLandingHeader img {
	margin-right:1px
}

.BUTTONMultiple,.BUTTONMultipleHover,.BUTTONInline,.BUTTONInlineHover,.BUTTONInlineText,.BUTTONInlineTextHover {
	margin-left:1px
}

.BUTTONInlineText,.BUTTONInlineTextHover{
	padding-left:3px;
	padding-right:3px	
}


.BUTTONExit,.BUTTONExitDisabled,.BUTTONExitHover,.BUTTONOk,.BUTTONOkHover,.BUTTONOkDisabled,.BUTTONCancel,.BUTTONCancelHover,.BUTTONCancelDisabled  {
	padding-left:5px;
	padding-right:5px /* 25px */
}


/* Task area Tabs */

.TDTaskHeader {
	padding-left:6px;
	padding-right:20px	
}

.TDTabHead a {
	margin-right:3px;
	padding-left:6px;
	padding-right:6px
}

.TDTabHead .Current {
	padding-left:6px;
	padding-right:6px
}

/* Vertical Menu */

.MenuLDiv,.MenuL1Div,.MenuL21Div,.MenuL2Div,.MenuL3Div {
	clear:left
}

.MenuLDiv,.MenuL1Div {
	padding-right: 4px;
	padding-left: 6px
}

.MenuL21Div,.MenuL2Div {
	padding-right: 4px;
	padding-left: 14px
}

.MenuL3Div {
	padding-right: 4px;
	padding-left: 18px
}

.MenuLDiv img,.MenuL1Div img,.MenuL21Div img,.MenuL2Div img,.MenuL3Div img {
	margin-right:3px
}

/* Tool bar */

.TDToolButton {
	padding-left:3px;
}

/* Horizontal Menu */

.mnuItemLabel,.mnuItemLabel span,.mnuItemLabel img {
	float:left; 
}

.mnuItemLable img {
	float:left
}

.mnuItemShortcut {
	float:left; 
	padding-right:3px
}

.mnuToolbarOuter {
	text-align:left
}

.mnuItemBarContainer {
		width:9.5em;
}

.mnuRoot,.mnuRootOver,.mnuRootDown {
	padding-left: 10px;
	padding-right: 9px
}

.mnuItem,.mnuItemOver {
	padding-left: 3px;
	padding-right: 3px;
	margin-left:1px;
	margin-right:1px;
}

/* Dialogs */

.TABLEErrorData th {
	text-align:left;
}

.DialogIcon {
	margin-right:3px; 
	float:left
}

.SPANDialogDesc {
	float:left
}

.SPANDialogChk {
	padding-right:4px; 
	margin-left:3px
}

/* Login Page */

.BODYLogin table label {
    float:right
}

.DIVLogin {
    margin-left:250px;
    margin-right:20px;
}

.DIVVersion {
    margin-left:9px;
}

/* July 27 * Added for resolving the field alignment issue */

.DIVMandatory  {float:left}

/*11.1 changes */

.WNDfooter, .WNDfootermodal {
	text-align:right
}

.WNDtitletext {float:left}

.WNDtitlebar b {float:left}

b span{
	display:block;
	float:none	
}

.TABLEMultiple th {text-align:left}

/* 11.3 addition */
.Textleft {
	text-align:left
}

.Fleft{
	float:left
}

.DIVbar1 {
	text-align:right; 
}

.DIVpage {
	float:left;
	text-align:right 
}

.DIVAudit .FIELDSETPlaceholder {
	float:left;
}

.DLlengend, .DLlengend dt, .DLlengend dd {float:left}

/* 11.1 ExtClasses for audit */


.DIVAudit .FSTcell {
	float:left;
}

.TDbtnfooter {
	 white-space:nowrap;
	 padding-right:10px;
	 text-align:left;
}

/*11.4 addition */
/*Fix for 14710685 starts */
.LBLinv2 {
visibility:hidden;
white-space:nowrap
}
/*Fix for 14710685 ends */

/* Tiji 27-6-2011 -11.3 - Added for accessibility patch */
.SPNpageH {
	float:left
}
/* Change for Bug 14224222 and 14465631 
/*change for 15849112 */
.DIVText .LABELNormalHF{ /*Bug 14224222 fix*/
	visibility:hidden;
	width:1.1em
}
/*arb changes*/
#btnDiv12{
  float:right;
  margin-right:50px;
}
.BTNicon2Mnu{
float:right;
}



#btnDiv{
float:right;
margin-right:10px;
}

.Abut{
  float:right;
}
#navTB{
  float:left;
}

#navTB LI{
   float:left;
   margin-left:8px;
}

.DIVSubSystem LI, .DIVSubSystem LI A, .subSystemContainer div
{
  float:left;
}

.subSystemContainer span{
  margin-left:-2px;
}

.subSystemContainer .BTNicon, .subSystemContainer .BTNiconD, .subSystemContainer .BTNiconH{
  float:right;
}