HTML 
        {
        /*scrollbar-arrow-color: #000000;
        scrollbar-3dlight-color: #f8f9f7;
        scrollbar-darkshadow-color: #e4f3fc;
        scrollbar-face-color: #bcdff5;
        scrollbar-highlight-color: #ffffff;
        scrollbar-shadow-color: #1b77b3;
        scrollbar-track-color: #f4f3ee;*/
        }

body 
        {
        font-family:Arial, Tahoma, Verdana, Helvetica, sans-serif;
        font-size:100%;
        margin:0;
        padding:0;
        }

input,select,label,textarea,.parentNode 
        {
          font-family:Arial, Tahoma, Verdana, Helvetica, sans-serif;
        font-size:.75em;
        }

/* li {    font-family:Arial Narrow, Helvetica, sans-serif;}*/

fieldset 
        {
        margin-bottom: 10px;
        /*align:center;
        border:4px double black;*/
        padding:3px;
        width:100%; 
        height:150px; 
        overflow:auto;
        }

a, a:visited 
        {
        /*color: #0000ff;*/
        text-decoration:none;
        cursor:pointer;
        }

h1 
        {
        font-family:Arial, Tahoma, Verdana, Helvetica, sans-serif;
        font-size:.75em;
        font-weight:normal;
        margin:0; 
        padding:0px 3px 0px 3px
        }

h2 
        { 
         font-family:Arial, Tahoma, Verdana, Helvetica, sans-serif;
        font-size:1em;
        font-weight:bold;
        color:#fff;
        /* color:#fff;*/
        margin:0px;
        padding-left:10px;
        padding-top:3px;
        padding-bottom:0px;
        padding-right:0px;
        }


h4 
        { 
          font-family:Arial, Tahoma, Verdana, Helvetica, sans-serif;
        font-size:1.2em;
        font-weight:bold;
        color:#082454;
        margin:0px;
        padding-left:0px;
        padding-top:1px;
        padding-bottom:10px;
        padding-right:10px;
        }

select 
        {
        margin-bottom:1px
        }

.BODYTop 
        {
        /*background:#f8f8f8 url(../Images/BODYTopBG.gif) repeat-x bottom;*/
        background:#fff
        }

.BODYDetails 
        {
        padding:0;
        margin:0;
        background-color:#ffffff;
        /* background: #fff url(../Images/BODYDetailsBG.gif) repeat-x top;  
        margin:8px;*/
        }

.BODYLeft 
        {
        background:#f8f8f8; 
        }

.branding 
        {
        background:#fff;
        /*border-bottom:1px solid #e3e1e1;*/
        margin:0;
        padding:0;
        display:block;
        float:left;
        clear:both;
        width:100%;
        }

.DIVHeader 
        {
        /*border-bottom:1px solid red;*/
        border-top:1px solid #cadbf1;
        padding-left:0px;
        padding-top:5px;
        padding-bottom:8px;
        padding-left:0px;
        background-color:#ffffff; 
        background-image:url(../Images/BODYTopBG.png);
        background-repeat:repeat-x; 
        background-position:bottom left;
        
        clear:both;
        margin:0px;
        display:block;
        }

.DIVHeader1
        {
        /*border-bottom:1px solid #adcbfb;
        border-top:1px solid #ebebeb;*/
        padding-left:0px;
        padding-top:5px;
        padding-bottom:8px;
        padding-left:0px;
        /*background:#f8f8f8 url(../Images/BODYTopBG.gif) repeat-x bottom;*/
        clear:both;
        margin:0px;
        display:block;
        }


.trigger
        {
        cursor: pointer;
        }

.appTitle 
        {
        color:#898989;
        }

.parentNode
        {
        margin-left: 1px;
        }

.Fields
        {
        display:none;
        }	

.TreeView,#floatingContainer
        {
        margin:0px;
        padding:0px;
        }

.TreeView ul
        {
        /* Sub menu groups */
        margin-left:16px;/* Left spacing */
        padding-left:0px;
        display:none;/* Initially hide sub nodes */
        }

#floatingContainer ul
        {
        margin-left:20px;/* Left spacing */
        padding-left:0px;	
        }

.TreeView li,#floatingContainer li
        {
        /* Nodes */
 /*        cursor:pointer;
        list-style-type:none;
        vertical-align:middle;
        white-space:nowrap;    */ 
        
    /* background: #557176 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAJCAYAAAAPU20uAAAAZUlEQVR42mP4+fNnBRAb/v//nwEbZgBK7gHitUBsB8SM2BSsAuIzQHwYiAuBWBxdwRqoAhheCjWNCZcCED4ExF64FOwA4kQgFkR3AwhPAmIddDfsAuL9QBwHxNzYfNEDxD64wgEAf2jsBjI+1FQAAAAASUVORK5CYII=")no-repeat 2px 2px;HTML5 changes 2/NOV/2016 Fix for 24904509
     */
     margin-bottom: 3px;
    
        }

.TreeView li a,#floatingContainer li a
        {	
        /* Node links */
/*         cursor:pointer;
        color:#000;
        text-decoration:none;
        font-family:Arial;
        font-weight:normal;
        padding-left:1px;
        line-height:13px;
        margin-left:2px;
        cursor:pointer; */
        font-family:Arial, Tahoma, Verdana, Helvetica, sans-serif;
        font-weight:normal;
        white-space:nowrap; 
        cursor:pointer;
        color:#f7f7f7;
        }

.TreeView ul li a 
        {
        font-family:Arial, Tahoma, Verdana, Helvetica, sans-serif;
        font-weight:normal;
        white-space:nowrap; 
        cursor:pointer;
        color:#f7f7f7;
        }

.TreeView ul li 
        {
        white-space:nowrap;   
        list-style-type: none; 
        }

.TreeView li a.highlightedNodeItem
        {
        color:#FFF;
        background-color:#009;
        } 
		
.parentNode, .parentNode:visited 
        {
      /*   color: #000; */
        text-decoration:none;
        }

.parentNode:hover 
        {
        color:red;
        }

 

.skin0
        {
        position:absolute;
        width:120px;
        border:1px solid #7c90b1;
       /* background:#fff url(../Images/SearchHeadBG.gif) repeat-y;*/
       background-color:#b0cdfe;
        cursor:default;
        z-index:100;
        visibility:hidden;
        font-family:Arial, Tahoma, Verdana, Helvetica, sans-serif;
        }

.menuitems
        {
        padding-left:10px;
        padding-right:10px;
        padding-top:3px;
        padding-bottom:3px;
        font-size:.80em;        
        font-family:Arial, Tahoma, Verdana, Helvetica, sans-serif;
        }

.TABLELyt 
        { 
        /*margin-top:5px;*/
        }

.TABLELyt td label 
        {
        /*padding:1px 3px 1px 3px; */
        }

.TABLELyt td 
        {
        white-space:nowrap;
        /*padding-left:5px;*/
        }

.highlight 
        {
        background:#BBFFDD;
        }

.SearchHead 
        {
        display:block;
        background-color:#557176; 
        border-bottom:1px solid #a2c2e5;
        height:30px;
        white-space:nowrap;
        }

#treebody 
        {
        display:block;
        overflow:auto;
        margin:0;
        padding-top:8px;
        width:100%;
        /* background-color:#557176;  */
        }
#idAppBrw
        {
        display:block;
        overflow:hidden;
        margin:0;
        padding-top:8px;
        width:100%;
        background-color:#557176;
       /*  -webkit-transition:width 0.4s,height 0s; */
        transition:width 2s,height 0s;
        }

.DIVGrid 
        {
        /*display:block;
        overflow:auto;
        border:1px solid #a2c2e5;
        background:#ffffff;
        position: relative; 
        width:99%;*/
        }

.TABLEData 
        {
         }
.IFRAMELov
        {width:95%;
        margin-left:10px;
        height:340px;
        border:none;
        
        }
        
#BodyIframeLov th,#BodyIframeLov td 
        {
        font-size:.80em; 
        cursor:pointer;
        } 

.TABLEData th 
        {
        padding:3px;
        position:relative;
        top: expression(offsetParent.scrollTop);   
        }

.THHover
 {
background:#FFFFFF;
}

.TABLEData th label, th label 
        {
        white-space:nowrap;
        }

.tdfirst
        {
        border-bottom:1px solid #adcbfb;
        border-left:1px solid #adcbfb; 
        border-right:1px solid #adcbfb;   
        border-top:0;
        padding-left:3px;
        background:#fff;
        }

.Cmntd
        {
        border-bottom:1px solid #adcbfb;
        border-right:1px solid #adcbfb;   
        border-top:0;
        border-left:0;
        padding-left:3px;
        background:#fff;
        }        
        
.tdlast
        {
        border-bottom:1px solid #adcbfb;
        border-right:1px solid #adcbfb;   
        border-top:0;
        border-left:0;
        padding-left:3px;
        background:#fff;
        }



.TABLEData td 
        {
        border-bottom:1px solid #adcbfb;
        border-right:1px solid #adcbfb;   
        border-top:0;
        border-left:0;
        padding-left:3px;
        background:#fff;
        }



.TABLEData td input 
        {
        border:0;
        }

.TABLEData th input 
        {
        float:left;
        margin-left:1px;    
        }

.TABLEData td input,.TABLEData td select 
        {
        margin-left:1px;
        }

.CELLCheck 
        {
        width:1em;
        }


 
.BUTTONStatic 
        {
        height:1.36em;
        width:1.6em;	
        background-image:url("../Images/BUTTONInlineBG.gif");
        background-repeat:repeat-x;
        border-top:1px solid #cccccc;
        border-left:1px solid #cccccc;
        border-bottom:1px solid #999999;
        border-right:1px solid #999999;	
        color:#000000; 
        }

.BUTTONInline 
        {
        cursor:auto;
        height:1.36em;
        width:1.6em;	
        vertical-align:top;
        text-align:center;
        margin-left:1px;
        margin-right:1px;
        margin-top:1px;
        padding:0px;
        background-image:url("../Images/BUTTONInlineBG.gif");
        background-repeat:repeat-x;
        background-color:#ffffff;
        border-top:1px solid #cccccc;
        border-left:1px solid #cccccc;
        border-bottom:1px solid #999999;
        border-right:1px solid #999999;		
        }

.BUTTONInlineD 
        {
        cursor:auto;
        height:1.36em;
        width:1.6em;	
        vertical-align:top;
        text-align:center;
        margin-left:1px;
        margin-right:1px;
        margin-top:1px;
        padding:0px;
        background-image:url("../Images/BUTTONInlineBG.gif");
        background-repeat:repeat-x;
        background-color:#ffffff;
        border-top:1px solid #cccccc;
        border-left:1px solid #cccccc;
        border-bottom:1px solid #999999;
        border-right:1px solid #999999;	 
        opacity:0.3;    
        }

.BUTTONInlineText 
        {
        cursor:auto;
        height:1.36em;
        vertical-align:top;
        text-align:center;
        margin-left:1px;
        margin-right:1px;
        margin-top:1px;    
        padding:0px;
        background-image:url("../Images/BUTTONInlineBG.gif");
        background-repeat:repeat-x;
        background-color:#ffffff;
        border-top:1px solid #cccccc;
        border-left:1px solid #cccccc;
        border-bottom:1px solid #999999;
        border-right:1px solid #999999;		
        }

.BTNimg{ 
      background-image:url("../Images/BTNInlineBGNEW.gif");
        background-repeat:repeat-x;
        height:25px;
        cursor:auto;
        vertical-align:top;
        text-align:center;
        background-color:#e6f2f4;
        font-weight:bold;
        border-top:1px solid #c6d2f5;
        border-bottom:1px solid #8ca4eb;
        border-right:1px solid #8ea6eb;	
        border-left:1px solid #c6d2f5;
        margin:0px;
        padding:0px; 
        
        }
.BUTTONCmd{ 
      background-image:url("../Images/BTNInlineBGNEW.gif");
        background-repeat:repeat-x;
        height:25px;
        cursor:auto;
        vertical-align:top;
        text-align:center;
        background-color:#e6f2f4;
        font-weight:bold;
        border-top:1px solid #c6d2f5;
        border-bottom:1px solid #8ca4eb;
        border-right:1px solid #8ea6eb;	
        border-left:1px solid #c6d2f5;
        margin:0px;
        padding:0px; 
        
        }

.BUTTONToolbar 
        {
        cursor:auto;
        height:25px;
        width:25px;	
        vertical-align:top;
        text-align:center;
        margin-left:1px;
        margin-right:1px;
        padding:0px;
        background:#ffffff;
        border:none;		
        }

.BUTTONToolbarD 
        {
        cursor:auto;
        height:25px;
        width:25px;	
        vertical-align:top;
        text-align:center;
        margin-left:1px;
        margin-right:1px;
        padding:0px;
        background:#ffffff;
        border:none;
        filter:alpha(opacity=30); 
        opacity:0.3;
}

.BUTTONToolbarD img 
        { 
        Filter: Gray;
        }

.DIVGridBtns 
        {
        display:block;  
        border-left:1px solid #a2c2e5;    
        border-top:1px solid #a2c2e5;  
        border-right:1px solid #a2c2e5;  
        border-bottom:none;  
        background-color:#eff3fe;
        text-align:right;
        width:99%; 
        }

.DIVGridSlct 
        {
        display:block;  
        border-left:1px solid #adcbfb;    
        border-top:1px solid #adcbfb;  
        border-right:1px solid #adcbfb;  
        border-bottom:none;  
        text-align:center;
        width:99%; 
        }

.DIVGridBtns .BUTTONInline 
        {
        margin-top:2px; 
        margin-bottom:2px;
        }

/* - Tabs */
.DIVTabPageContent 
        {
        padding-top: 5px;
        Border-top:2px solid #3d77cb; 
        display:block;
        width:99%;
        height:300px;
        clear:both;
        }

.DIVTab 
        {
        float:left;
        margin-left:5px;
        }


.DIVTab ul 
        {
        float:left;
        margin-left:0;
        margin-right:0;
        list-style: none;
        padding:0;
        margin-top:10px;
        margin-bottom:0;        
        }

.DIVTab li 
        {
        float:left;
        margin-left:0;
        margin-right:2px;
        margin-bottom:0;
        margin-top:0;
        display:none;
        }

.DIVTab a 
        {
        color: #000; 
        background: url("../Images/Flexblue/RTabLeft.gif") no-repeat left top;
        padding-left: 5px;        
        }

.DIVTab a span 
        {
        font-family:Arial, Tahoma, Verdana, Helvetica, sans-serif;
        color: #000;
        padding-top: 5px;
        padding-bottom: 5px;
        background: url("../Images/Flexblue/RTabRight.gif") no-repeat right top;
        padding-left:2px;
        padding-right:7px;
        font-size:0.80em;
        }

.DIVTab a span,.DIVTab a 
        {
        display:block;
        cursor:pointer;
        float: left; 
        }

.DIVTab #current a, .DIVTab #current a:hover 
        {
        background: url("../Images/Flexblue/RTabSLeft.gif") no-repeat left top;
        padding-left:5px;        
        }

.DIVTab #current a span, .DIVTab #current a:hover span 
        {
         padding-top:5px
         padding-bottom:5px;
        background: url("../Images/Flexblue/RTabSRight.gif") no-repeat right top;
        padding-left:2px;
        padding-right:7px;        
        }

.DIVTab a:hover,.DIVTab a:active 
        {
        color:#000;
        background: url("../Images/Flexblue/RTabHLeft.gif") no-repeat left top;
        padding-left:5px;        
        }

.DIVTab a:hover span,.DIVTab a:active span {
        background: url("../Images/Flexblue/RTabHRight.gif") no-repeat right top;
        padding-left:2px;
        padding-right:7px;        
        }

/* Tiji 24/9/10 - Added for Cross browser support */

body 
        {
        margin:0px;
        padding:0px;
         font-family:Arial, Tahoma, Verdana, Helvetica, sans-serif; 
        } 

#Dtop   
        { 
        width:100%; 
        display:block; 
        float:left;
        border-left:none; 
        border-top:none; 
        border-right:none 
        } 

#Dleft	
        { 
        width:20%; 
        display:block; 
        float:left; 
        overflow:auto; 
        border-right:1px solid #a2c2e5; 
        border-left:none; 
        border-top:none; 
        border-bottom:none 
        } 
        
#Dright
        {
        display:block; 
        float:left;
        OVERFLOW-Y:SCROLL; 
        OVERFLOW-X:HIDDEN; 
        width:79.9%;
        }        
.frames 
        {
        border-bottom:3px solid #274f90;
        border-left:3px solid #274f90;
        border-right:3px solid #274f90;
        border-top:none;
       }
.launcher{border:1px transparent;}



.WNDcontainer 
        {
        position:absolute;
        text-align:left;
        left:0px;
        }

.WNDtitlebar 
        {
	BORDER-BOTTOM-STYLE: none;
	PADDING-BOTTOM: 0px;
	BORDER-RIGHT-STYLE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	BORDER-TOP-STYLE: none;
	/* BACKGROUND: url(../Images/BGwndtitle3.gif) #004eb4 repeat-x 50% top; */
	background-color:#557176;
        HEIGHT: 1.5em;
	CLEAR: both;
	BORDER-LEFT-STYLE: none;
	PADDING-TOP: 0px
        }

.WNDtitlebar b 
        {
        float:left; 
        margin-left:2px
        }

.WNDtitletxt 
        {
          font-family:Arial, Tahoma, Verdana, Helvetica, sans-serif;
        font-size:.75em;
        font-weight:bold;
        color:#fff;
        width:70%;
        float:left;
        overflow:hidden;
        white-space:nowrap;
        padding-top:.25em;
		        margin-left:5px;
        /*padding-top:.6em   ie7 only */
        }

.WNDbuttons 
        {
        float:right;
        display:block;
        width:60px;
        height:1.5em;
        padding:0;
        margin:0;
        }

.WNDcontent 
        {   
        /*background:#fff;*/
        clear:both;
        margin:0;
        padding:0;
       /*border-top:none;*/
        display:block;
        float:left;
        border:none;	
        }

.smallwin 
        {
        width:30em
        } /*49*/

.mediumwin 
        {
        width:49em
        }

.bigwin 
        {
        width:75em
        }

.WNDbuttons a 
        {
        background-image:url("../Images/WNDbuttons.gif");
        background-repeat:no-repeat;
        height:21px;
        width:22px;
        display:block;
        float:right;
        border:none	
        }

.WNDcls 
        {
        BACKGROUND-POSITION: -141px 0px
        }

.WNDclsH 
        { 
        BACKGROUND-POSITION: -112px 0px
        }

.WNDmin 
        { 
        BACKGROUND-POSITION: -56px 0px
        }

.WNDminH 
        { 
        BACKGROUND-POSITION: -84px 0px
        }

.WNDmax { 
        BACKGROUND-POSITION: 0px 0px
        }

.WNDmaxH 
        { 
        BACKGROUND-POSITION: -28px 0px
        }

.SPNvtabH 
        {
        position:relative
        }

/*Added by Suresh*/

.titlecontainer
        {
         width:100%;
         height:30px; 
         display:block;  
         background-color:#557176; 
         border-bottom:1px solid #a2c2e5;
         }
         
.undobutton{
        width:10%; 
        height:30px;
        float:right; 
        text-align:right;
        padding-right:10px;
        padding-top:5px
        }
        
.thbgcolor  
        { 
        background-color:#e6f2f4; 
        }

.thheader 
        {
          font-family:Arial, Tahoma, Verdana, Helvetica, sans-serif;
           font-size:.80em; 
		text-align:center;
		font-weight:bold;
		color:#000000; 
        background-color:#e6f2f4; 
        border-right:1px solid #a2c2e5;
        /*border-top:1px solid #7c90b1;*/
        border-bottom:1px solid #a2c2e5;
        border-left:none;
        height:25px;
        }

.thheaderlast
        {
        font-family:Arial, Tahoma, Verdana, Helvetica, sans-serif;
		font-size:.80em;
		font-weight:bold;
		text-align:center;
        color:#082454; 
        background-color:#e6f2f4;
        /*border-right:1px solid #7c90b1;
        border-top:1px solid #7c90b1;*/
        border-bottom:1px solid #a2c2e5;
        border-left:none;
        height:25px;
        }
        
.thheaderfirst
        {
         font-family:Arial, Tahoma, Verdana, Helvetica, sans-serif;
        color:#082454; 
		font-weight:bold;
        background-color:#e6f2f4;
        border-right:1px solid #a2c2e5;
        /*border-top:1px solid #7c90b1;
         border-left:1px solid #7c90b1;*/
        border-bottom:1px solid #a2c2e5;
        height:25px;
        }

.Buttontext
        {
        white-space:nowrap;
        background-color:transparent;
         font-family:Arial, Tahoma, Verdana, Helvetica, sans-serif;
        color:Red;
        padding:0px;
        margin:0px;
        border:none;
        text-align:right;
        }
        
#Dright1
        { 
        display:block; 
        float:left; 
        overflow:hidden; 
        border:none; 
        width:100%;
        }

.envdetails
       {
       margin-top:5px;
          font-family:Arial, Tahoma, Verdana, Helvetica, sans-serif;
        Font-size:.75em;
        Font-weight:bold; border:none
        }   
		
.DIVchkrad{}
.CHKstd{}		
.Subcontainer{margin-top:10px;width:100%}

.Subheader{float:left;}
.Subheadertext{   font-family:Arial, Tahoma, Verdana, Helvetica, sans-serif; font-weight:bold}
        
.funcbtn{
        float:right;
        display:block;
        margin-right:15px;
        margin-top:4px;
		width:auto;
           
        }
.func_btn_1 
	{
	height:18px;
	width:18px;	
	background-color:transparent;
	border:none;
	/*background-image:url("../Images/BUTTONInlineBG.gif");
	background-repeat:repeat-x;
	border-top:1px solid #cccccc;
	border-left:1px solid #cccccc;
	border-bottom:1px solid #999999;
	border-right:1px solid #999999;	
	color:#000000;*/
	/* vertical-align:top;
	text-align:center;
	padding:0px;
	margin:0px;
	background-color:#ffffff;
	position:absolute; 
	right:30px; 
	top:6px;
	cursor:auto;*/
	}
		
		
/* Suresh */		
.DIVText
	{
	BORDER-RIGHT: none;
	BORDER-TOP: none;
	MARGIN-BOTTOM: 1px;
	BORDER-LEFT: none;
	BORDER-BOTTOM: none;
	display:block;
	clear:left;
	}


.TXTstd 
	{
	FONT-SIZE: 0.74em;
	VERTICAL-ALIGN: top;
	height:18px;	COLOR: #000;
	background:#ffffff;
	FONT-FAMILY:Arial, Tahoma, Verdana, Helvetica, sans-serif;
	margin-top:2px;
	border:1px solid #6c91b5;
	/*border-top:1px solid #cccccc;
	border-left:1px solid #9a9a9a;
	border-bottom:1px solid #9a9a9a;
	border-right:1px solid #9a9a9a;*/
	}
		
.LBLstd
	{
	DISPLAY: block;
	float:left;
	text-align:right; 
	WIDTH: 12em;
	margin-top:4px;
	padding-right:8px;
	PADDING-TOP: 0px;
	padding-bottom:0px; 
	WHITE-SPACE: normal; 
	FONT-FAMILY:Arial, Tahoma, Verdana, Helvetica, sans-serif;
	color:#333333; /*1937a5*/
	}

.LBLstdL
	{
	DISPLAY: block;
	float:left;
	text-align:right; 
	WIDTH: 10em;
	margin-top:4px;
	padding-right:8px;
	PADDING-TOP: 0px;
	padding-bottom:0px; 
	WHITE-SPACE: normal;
	FONT-FAMILY:Arial, Tahoma, Verdana, Helvetica, sans-serif;
	color:#1937a5; /*1937a5*/
	}
.LBLCheckbox
	{
	DISPLAY: block;
	WIDTH: 12em;
	padding-right:8px;
	PADDING-TOP: 2px;
	padding-bottom:0px; 
	WHITE-SPACE: normal;
	FONT-FAMILY:Arial, Tahoma, Verdana, Helvetica, sans-serif;
	color:#1937a5; /*1937a5*/
	}

.LBLstdM
	{
	DISPLAY: block;
	float:left;
	text-align:right; 
	WIDTH: 12em;
	margin-top:4px;
	padding-right:8px;
	PADDING-TOP: 0px;
	padding-bottom:0px; 
	WHITE-SPACE: normal;
	FONT-FAMILY:Arial, Tahoma, Verdana, Helvetica, sans-serif;
	color:#ff0000; /*1937a5*/
	}

.LBLp
	{
	DISPLAY: block;
	float:left;
	text-align:right; 
	WIDTH: 10em;
	/*margin-top:4px;*/
	padding-right:8px;
	PADDING-TOP: 0px;
	padding-bottom:0px; 
	WHITE-SPACE: normal;
	FONT-FAMILY:Arial, Tahoma, Verdana, Helvetica, sans-serif;
	color:#1937a5; /*1937a5*/
	}

.LBLh
	{ 
	position:absolute; top:0; visibility:hidden
	}

.TXTp 
	{
	VERTICAL-ALIGN: bottom;
	FONT-SIZE: 0.74em;
	COLOR: #000;
	padding:0px;
	margin-top:0px;
	font-weight:bold;
	background:#ffffff; 
	FONT-FAMILY:Arial, Tahoma, Verdana, Helvetica, sans-serif;
	}

.FSTcell
	{
	BORDER-RIGHT: none;
	PADDING-RIGHT: 0px;
	BORDER-TOP: none;
	MARGIN-BOTTOM:8px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	BORDER-LEFT: none;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: none;
	height:auto;
	overflow:hidden;
	}

.FSTcell LEGEND
	{
	display:none
	}

.FSTstd
	{
	BORDER-RIGHT: none;
	PADDING-RIGHT: 0px;
	BORDER-TOP: none;
	MARGIN-BOTTOM:8px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	BORDER-LEFT: none;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: none;
	height:auto;
	overflow:hidden;
	}

.FSTstd LEGEND
	{
	FONT-WEIGHT: bold;
	FONT-SIZE: 0.74em;
	COLOR: #000 /*#666565*/ ;
	FONT-FAMILY:Arial, Tahoma, Verdana, Helvetica, sans-serif;
	margin-bottom:8px;  	
	}

.SELstd
	{
	FONT-SIZE: 0.74em;
	FONT-FAMILY:Arial, Tahoma, Verdana, Helvetica, sans-serif;
	COLOR: #00366a;
/*	BORDER-LEFT: #7f9db9 1px solid;
	BORDER-TOP: #7f9db9 1px solid;	
	BORDER-BOTTOM: #d6e0e9 1px solid;	
	BORDER-RIGHT: #d6e0e9 1px solid;*/
	BORDER: #6c91b5 1px solid;		
	margin-top:4px;
/*	background:#f4f7fe; */
	}

.hh4
	{ 
	padding:0px;
	margin:0px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 0.74em;
	FONT-FAMILY:Arial, Tahoma, Verdana, Helvetica, sans-serif
	}

.Div_Main
	{
	margin-left:auto; 
	margin-right:auto; 
	width:58em; 
  height:100%;
	/*border:1px solid red; background-color:#FF0000; */
	}

.Div_small
	{ 
	width:28em; 
	display:block; 
	float:left; 
	margin-top:10px;
	border:1px solid #ffffff
	}
	
.Div_Footer
	{
	width:90%; 
	padding:4px;
	margin-left:auto; 
	margin-right:auto;
	display:block;
    clear:both;
	background-color:#dceafe;
	border:1px solid #a2c2e5;
	}

/* Table Css-->*/

.DIVTwoColSectionContainer { width:48em; margin-left:5px;}

.TABLESummary {
/*	direction:ltr;*/
	width:100%;
}

.TABLESummary th {
	background-image:url(../Images/Flexblue/SummaryHeadBg.gif);
	border-right:1px solid #d0d0d0;
	border-left:1px solid #ffffff;
	border-bottom:1px solid #d0d0d0;	
	padding:5px;
	font-size:0.71em;
	font-weight:normal;
	color:#133b7d;
}

.TABLESummary td {
	padding:2px;
	background-color:transparent;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #E6E6E6;
	border-left-color: #ffffff; /* font-size:0.71em;	*/
	background-color:#FFFFFF;
}

.SummaryAltTR {
	background-color:#f1f6fc;
	background-image:url(../Images/Flexblue/SummaryAltRowBG.gif);
}

div.DIVSummaryInner {
    overflow: auto;
	margin:0px;
	position: relative;
	border-right:1px solid #99bbe8;	
	border-left:1px solid #99bbe8;	
	border-bottom:1px solid #99bbe8;	

}

div.DIVSummaryInner th	{ 
	top: expression(offsetParent.scrollTop);
	position:relative;	
	z-index: 20;
}

div.DIVSummaryInner th.locked {z-index: 30; border-right:1px solid #99bbe8;}
div.DIVSummaryInner td.locked {z-index: 19; border-right:1px solid #99bbe8; border-top:1px solid #ffffff; }

div.DIVSummaryInner td.locked,  th.locked{
/*	border-bottom: 1px solid silver;*/
	left: expression(offsetParent.scrollLeft); 
	position: relative;
}

.SPANText {
	font-size:0.71em;
	padding:2px;
	white-space:nowrap;
/*	display:block;	*/
}

.Actionbuttons{
height:20px;
	width:100%; 
	margin-bottom:5px;
	/*background-color:#FF00CC;*/
	padding:2px; 	
	display:block; 
	text-align:right
	}

.BUTTONInlineText{
	BORDER-BOTTOM: #6c91b5 1px solid;
	TEXT-ALIGN: center;
	BORDER-LEFT: #6c91b5 1px solid;
	/*BACKGROUND: url(../Images/Flexblue/Backgrounds/BGBTNInline.gif) #fff repeat-x;*/
	HEIGHT: 1.3em;
	COLOR: #000;
	VERTICAL-ALIGN: middle;
	BORDER-TOP: #6c91b5 1px solid;
	CURSOR: auto;
	BORDER-RIGHT: #6c91b5 1px solid
}
.MEButtons{
height:25px;
width:99.45%;
BACKGROUND-COLOR:#f5f5f5; 
text-align:right;
padding-right:3px;
BORDER-TOP: #e6f2f4  1px solid;
BORDER-LEFT: #e6f2f4  1px solid;
BORDER-RIGHT: #e6f2f4  1px solid;
}
.error{BACKGROUND: url(../Images/error.jp); background-repeat:no-repeat; background-position:LEFT enter ;} 
.LBLinv{
	POSITION: absolute;
	BACKGROUND: #fff;
	VISIBILITY: hidden;
	COLOR: #000;
	TOP: 0px;
	LEFT: -300px; padding:0px;
}
.errdesc{font-family:Arial, Helvetica, sans-serif; font-size:.8em;} 
.errtblr1c1{border-top:1px solid #a2c2e5;border-right:1px solid #a2c2e5;text-align:center;width:30px;}
.errtblr1c2{border-right:1px solid #a2c2e5;width:240px;}
.errtblr1c3{border:0px;width:70px;}
.errtblr2c1{border-top:1px solid #a2c2e5;border-right:1px solid #a2c2e5;text-align:center;width:30px;}
.errtblr2c2{border-top:1px solid #a2c2e5;border-right:1px solid #a2c2e5;width:240px;}
.errtblr2c3{border-top:1px solid #a2c2e5;width:70px;}
.errtblr3c1{border-top:1px solid #a2c2e5;border-bottom:1px solid #a2c2e5;border-right:1px solid #a2c2e5;text-align:center;width:30px;}
.errtblr3c2{border-top:1px solid #a2c2e5;border-bottom:1px solid #a2c2e5;border-right:1px solid #a2c2e5;width:240px;}
.errtblr3c3{border-top:1px solid #a2c2e5;border-bottom:1px solid #a2c2e5;width:70px;}