/*----------------------------------------------------------------------------------------------------
**
** File Name    :RTL.css
**
** Module       : FCJWeb
**
** This source is part of the Oracle Flexcube Universal Banking
** Software System and is copyrighted by Oracle Financial Services Software Limited.

** All rights reserved.  No part of this work may be reproduced,
** stored in a retrieval system, adopted or transmitted in any form
** or by any means, electronic, mechanical, photographic, graphic,
** optic recording or otherwise, translated in any language or
** computer language, without the prior written permission  from Oracle Financial Services
** Software Limited.

** Oracle Financial Services Software Limited.,
** 10-11, SDF I, SEEPZ, Andheri (East),
** MUMBAI - 400 096.
** INDIA.

Copyright © 2009-2012  by Oracle Financial Services Software Limited..
----------------------------------------------------------------------------------------------------
*/

/* CSS Document containing style definitions for all Right-to-Left languages	
		
IMPORTANT! DONOT EDIT THIS DOCUMENT AS IT HAS STANDARDISED VALUES FOR ALL THEMES					  	
------------------------------------------------------------------------------------------------------
The following style attributes are not allowed in the classes defined in this document 					
color, background-color, background, background-image, padding-top, padding-bottom, padding, 		
margin-top, margin-bottom, margin, border, border-top, border-bottom, border-left, border-right		
display, position, font-face, font-family, font-style, list-style-type, white-space, vertical-align,	
cursor, width, height																				
------------------------------------------------------------------------------------------------------
*/
/* FC 11.4 NLS Changes*/
/* Tiji 26-4-2011 */
html {right:0px}

body {
	direction:rtl
}

.BODYDialog {
	margin-right:0px;
	margin-left:10px
}

/* Layout */

.DIVHeaderBodyContainer {
	padding-right:2px; 
	clear:both
}   

.DIVThreeColSectionContainer {   
	float:right
}

.DIVTwoColSectionContainer { 
	float:right
}

.TwoColSectionContainer { 
	/* Repeated classname */
	float:right
}

.DIVColumnOne,.DIVSubColumnOne,.DIVColumnTwo,.DIVSubColumnTwo,.DIVColumnThree,.DIVSubColumnThree,.DIVColumnDouble,.DIVSubColumnDouble,.DIVColumnTripple,.DIVSubColumnTripple {
	float:right;
	margin-right:.25em
}   

.DIVFooter {
	float:left;
	clear:both
}


/* Form */

.SPANTableHeader {
	clear:left;
}

.DIVText {
	text-align:right;
	clear:right
}

.DIVGroup {
	clear:right
}

.DIVRadio {
	text-align:right;
	clear:right
}

.DIVCheck {
	text-align:right;
	clear:right
}

.DIVSubField {
	clear:left
}

.DIVList {
	text-align:right
}

.LABELNormal {
	float:right;
	clear:right;
	text-align:left;
	padding-right:1px
}

.LABELSummary {
	text-align:left;
	padding-right:1px
}

.LABELDescription {
	float:right;
    padding-right:1px;	
	text-align:right
}

.LABELTaskSearch { 
	padding-right:1px;
        padding-left:3px;
        float:left
}


.LABELAudit {
	float:left;
	clear:left;
	text-align:left;
	padding-right:10px;
	padding-left:3px
}

.LABELCheckAudit {
	float:right;
	clear:right;
	text-align:left;
	padding-right:10px;
	padding-left:3px
}

.FWLABELAudit {
	text-align:right;
	padding-right:10px;
	padding-left:3px
}

.LABELNotes {
	float:right;
	clear:right;
	padding-right:10px
}

.LABELGroup {
	float:right;
	clear:right;
	padding-right:10px
}

.LABELCheckSummary {
	float:right;
	text-align:right;
	margin-right:-2px
}

.LABELSubField,.LABELSubFieldRO {
	padding-right:2px;
	padding-left:2px
}

.INPUTCheckBoxReadonly {
	float:right
}

.DIVCheckRadio {
	float:right; 
	margin-right:-2px /* Tiji Jul 27 */
}

.LABELCheck {
	/*float:right;*/
	text-align:right;
	margin-right:0px
}

.WNDtitlebar b {float:right; margin-right:2px}

.WNDtitletxt {float:right; text-align:right}
.WNDbuttons {float:left}
.WNDbuttons a {float:left}

#navTB{
  float:right;
}

#navTB LI{
   float:right;
}

.LABELCheckInline {
	margin-left:3px;
	margin-right:3px

}

.SPANCheck {
	float:right; 
	padding-right:1px
}

.LABELSubCheck {
	float:right;
	text-align:right;
	padding-right:1px  	
}   

.SPANSubCheck {	
	float:right
}

.INPUTCheck,.INPUTCheckReadonly {	
	float:right
}

.LABELRadio {
	float:right;
	text-align:right;
	margin-right:0px
}

.LABELRadioInline {	
	padding-left:3px
}

.SPANRadio {
	float:right; 
	padding-right:1px 
}

.LABELSubRadio {
	float:right;
	text-align:right
}

.SPANSubRadio {
	float:right; 
	padding-right:1px    	
}

.INPUTRadio,.INPUTRadioReadonly {
	float:right
}

/* Tabs*/
.TabHead {
	float:none
}

.TabHead ul {
	float:none;
	margin-left:0;
	/* FC 11.4 NLS Changes */
	margin-right:0;	
	clear:both
}

.TabHead li {
	float:right;
	margin-left:0;	
	margin-right:2px	
}

.TabHead a {
	padding-left: 5px
}

.TabHead a, .TabHead a span {
	float:none
}

.TabHead a span {
	padding-left:2px;
	padding-right:7px	
}

.TabHead #current a, .TabHead #current a:hover {
	padding-left: 5px
}

.TabHead #current a span, .TabHead #current a:hover span {
	padding-left:2px;
	padding-right:7px
}

.TabHead a:hover,.TabHead a:active {padding-left: 5px;}

.TabHead a:hover span,.TabHead a:active span {
	padding-left:2px;
	padding-right:7px
}

.DIVTabPageContent {
	float:left;
	width:100%; /* This is required for RTL layout*/
}			

/* Subsystem*/

.DIVSubSystem {
	text-align:right;
	float:left;
	clear:right
}

.DIVSubSystem ul {
	clear:both
}

.DIVSubSystem li {
	float:right
}

.BUTTONSubSystem,.BUTTONSubSystemDisabled  {
/* FC 11.4 NLS Changes*/
	margin-right:2px
}

/* Audit */

.DIVAudit {
/*	float:left;
	clear:left*/
}

.TABLEAudit td {
	padding-right:8px
}

.TDAuditButton {
	text-align:left
}


.FIELDSETSub {
	clear:both
}

.FIELDSETAudit,.FIELDSETAuditTwo {
	padding-left:0px;
	margin-right:.25em;	
	float:right
}

/* Multiple Entry */

.DIVMultipleSmall,.DIVMultipleMedium,.DIVMultipleBig{
	float:right;
	margin-right:5px
}

.HeaderMultiple {
	text-align:left
}

.SPANHeaderMultiple {
	float:right
}

/* Summary */

/*#TblQuery label  {
	float:left
}*/

#DIVlegend,#DIVQuery,.DIVSummary {
	margin-right:1px
}

.HeaderSummary {
	text-align:left
}

.SPANSummarySearch {
	float:right
}

.SPANHeaderSummary {
	float:right
}

div.DIVSummaryInner td.locked,  th.locked{
	right: expression(offsetParent.scrollRight)
}

.TABLESummary td {
	padding-left:3px;
	padding-right:3px
}

.LABELSummaryHead {
	padding-left:3px;
	padding-right:3px
}	

/* Misc */

/*.RequiredField {
	float:right
}*/


.DIVText img,.DIVCheck img,.DIVRadio img {float:right}

.DIVPagingContainer {
	text-align:left; 
	float:right
}

.DIVPagingContainerMESV {
	text-align:left; 
    clear:both
}

.TDHighlightOne {
	text-align:right 
}

.drag-handle{ 
	padding-left:4px;
	padding-right:25px;		
	text-align:right
}

.drag-handle .drag-controls{ 
	left:3px
}	

.drag-resizearea {
	float:left
}

.drag-contentarea{ 
	padding-left:3px;
	padding-right:3px
}

.FCicon {
	right:4px
}

.TDLovReductionLbl {
	text-align:left;
	padding-right:10px;                     
	padding-left:10px                     
}

.TDLovFetch { 
	text-align:left
}

.calBtnNav,.calBtnNavOver,.calBtnGoto,.calBtnGotoOver {
	margin-right:1px;
	padding-left:3px;
	padding-right:3px
}

.TABLECustData th {
	text-align:left
}

.CAPTIONUnderline {
    text-align:right
}

.TABLEAccesskeys th,.TABLEAccesskeys td {
	text-align:right
}

/* Landing Page */

#DIVNavPane {
	float:right;
	clear:left
}

/* Ashok12.0.2
#DIVTaskArea {
	float:left;
	clear:left
}
*/

.DIVNavHeader {
	margin-left:0px;	
	clear:right
}

.NavHeaderButton {
	float:left
}

.SPANNavHeader {
	float:right
}
	 
.taskCAPTION {
	clear:left;
	text-align:right;
	padding-left:10px;
	padding-right:10px	
}

.tasklistCAPTION {
	text-align:right
}

.tasklistCAPTION img {
	margin-right:10px 
}

/* NavPanel*/

.NavPanel a {
	clear:left;
	padding-left:6px;
	padding-right:6px
}

.NavPanel .Current {
	padding-left:6px;
	padding-right:6px
}

.DIVNavPanelContent {
	float:right
}	

.DIVCustSearch {
	padding-left:0px
}

.DIVCustSearch label {
	float:right;
	clear:right;
	text-align:left;
	padding-right:1px
}

.LinkLandingHeader {
	padding-right:5px 
}

.TDLinkLandingHeader {
	padding-left:3px;
	padding-right:2px		
}

.LinkLandingHeader img {
	margin-left:1px
}

.BUTTONMultiple,.BUTTONMultipleHover,.BUTTONInline,.BUTTONInlineHover,.BUTTONInlineText,.BUTTONInlineTextHover {
	margin-left:1px
}

.BUTTONInlineText,.BUTTONInlineTextHover{
	padding-left:3px;
	padding-right:3px	
}

.BUTTONExit,.BUTTONExitDisabled,.BUTTONExitHover,.BUTTONOk,.BUTTONOkHover,.BUTTONOkDisabled,.BUTTONCancel,.BUTTONCancelHover,.BUTTONCancelDisabled  {
	padding-left:5px;
	padding-right:5px /* 25px */
}

/* Task area Tabs */

.TDTaskHeader {
	padding-right:6px;
	padding-left:20px
}

.TDTabHead a {
	margin-right:3px;
	padding-left:6px;
	padding-right:6px
}


/* Vertical Menu */

.MenuLDiv,.MenuL1Div,.MenuL21Div,.MenuL2Div,.MenuL3Div {
	clear:left
}

.MenuLDiv,.MenuL1Div {
	padding-right: 6px;
	padding-left: 4px
}

.MenuL21Div,.MenuL2Div {
	padding-right: 14px;
	padding-left: 4px
}

.MenuL3Div {
	padding-right: 18px;
	padding-left: 4px
}

.MenuLDiv img,.MenuL1Div img,.MenuL21Div img,.MenuL2Div img,.MenuL3Div img {
	margin-left:3px
}

/* Tool bar*/
.TDToolButton {
	padding-right:3px
}

/* Horizontal Menu */

.mnuItemLabel,.mnuItemLabel span,.mnuItemLabel img {
	float:right; 
}

.mnuItemShortcut {
	float:left; 
	padding-left:3px
}

 .mnuToolbarOuter {
	text-align:left
}

.mnuRoot,.mnuRootOver,.mnuRootDown {
	padding-left: 10px;
	padding-right: 9px
}

.mnuItem,.mnuItemOver {
	padding-left: 3px;
	padding-right: 3px;
	margin-left:1px;
	margin-right:1px
}

/* Dialogs */

.TABLEErrorData th {
	text-align:right;
}

.DialogIcon {
	margin-left:3px; 
	float:right
}

.SPANDialogDesc {
	float:right
}

.SPANDialogChk {
	padding-left:4px; 
	padding-right:3px
}

/* Login Page */

.BODYLogin table label {
    float:left
}

.DIVLogin {
    margin-left:250px;
    margin-right:20px;
}

.DIVVersion {
    margin-right:9px;
}

/* July 27 * Added for resolving the field alignment issue */

.DIVMandatory  {float:right}


/* Empty Classes  */
/* Main */
.TRLovHdr{}
.TRLov{}
.triggerImg {}
.TRData{}
.TDNormal {}
.TDLovFetch {}
.TABLETaskHeader {}
.TABLESummary {}
.TABLEMultiple {}
.TABLELov {}
.TABLEErrorData td span {}
.TABLEError {}
.sSELECTFields{}
.SPANAppBrowser {}
.DIVMenuBarOuter {}
.DIVMenuBarInner {}
.calTRDaysHead {}
.calTRDays {}
.calTableNav {}
.branch {}
.BODYMenu {}
.BODYIframeLov {}
#Restree {}
#MENUDIV img {}
#DIVLandingHeader {}
.BtnNextPrevSingleView {}
.TABLEAudit {}

/* LTR */
.INPUTCheckInline {}
.INPUTRadioInline {}
#DIVLandingHeader {}

/* RTL */
.INPUTCheckInline {}
.INPUTRadioInline {}
.SPANHeaderSummary {}
#DIVLandingHeader {}

/*11.1 changes */
.WNDfooter, .WNDfootermodal {
	text-align:left
/* Tiji 12-4-2011 */
.WNDtitlebar b {float:right; margin-right:2px}
.WNDtitlebar b {float:left}

b span{
	display:block;
	float:right	
}


/* 11.3 addition */

.Textleft {
	text-align:right
}

.Fleft{
	float:right
}

.DIVbar1 {
	text-align:left; 
}

.DIVpage {
	text-align:left; 
	float:right
}

.DLlengend, .DLlengend dt, .DLlengend dd {float:left}

/* 11.1 ExtClasses for audit */

.DIVAudit .FSTcell {
	float:right;
}

.TDbtnfooter {
	 white-space:nowrap;
	 padding-left:10px;
	 text-align:left;
}

/*11.4 addition */
/*Fix for 14710685 starts */
.LBLinv2 {
visibility:hidden;
white-space:nowrap
}
/*Fix for 14710685 ends */

/* FC 11.4 NLS Changes Starts */
/* Tiji 12-4-2011 */
.WNDtitletxt {float:right; text-align:right}
.WNDbuttons {float:left}
.WNDbuttons a {float:left}
/* FC 11.4 NLS Changes Ends */

/* Tiji 27-6-2011 -11.3 - Added for accessibility patch */
.SPNpageH {
	float:right
}
/*arb changes*/
#btnDiv12{
  float:left;
  margin-left:50px;
}
.BTNicon2Mnu{
float:left;
}

#btnDiv{
float:left;
margin-left:10px;
}

.Abut{
  float:left;
}

#navTB{
  float:right;
}


#navTB LI{
   float:right;
   margin-right:8px;
}

.DIVSubSystem LI, .DIVSubSystem LI A, .subSystemContainer div
{
  float:left;
}

.subSystemContainer span{
  margin-right:-2px;
}

.subSystemContainer .BTNicon, .subSystemContainer .BTNiconD, .subSystemContainer .BTNiconH{
  float:right;
}