<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>FlexCube Corporate</display-name>
	<distributable/>
	<!--
 Ashok This not used.
    <listener>
        <listener-class>com.ofss.fcc.common.FCUserSessions</listener-class>
    </listener>
    !
	-->
	<listener>
		<listener-class>com.ofss.infra.controller.BranchSessionListener</listener-class>
	</listener>
	<!--
  <listener>
        <listener-class>com.ofss.infra.controller.BranchAttributeListener</listener-class>
    </listener> 
	-->
	<listener>
		<listener-class>com.ofss.fcc.bulker.FCBulkerListener</listener-class>
	</listener>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Disallowed Methods</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>Disallowed Servlet</web-resource-name>
			<url-pattern>/servlet/*</url-pattern>
		</web-resource-collection>
	</security-constraint>
	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>com.ofss.infra.web.AuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<servlet-name>SMSStartLogServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<servlet-name>SMSEndLogServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<servlet-name>FCClientHandler</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<servlet-name>FCExtRestCallServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<servlet-name>PasswordResetServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<servlet-name>ChgBrnServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<servlet-name>FCDataHandler</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<servlet-name>FCUBSSignatureServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<servlet-name>GIFileTransferServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<servlet-name>CustomerImageReaderServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<servlet-name>DataEntryImageReaderServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<servlet-name>ExtCLRUServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<servlet-name>ExtHolidayFetchData</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<servlet-name>ExtLovFetchData</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<servlet-name>FCMbeanClientServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<servlet-name>FCReportClientHandler</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<servlet-name>FCReportHandleRequest</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<servlet-name>FCServiceInvokerServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<servlet-name>FCUserAlertsServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<servlet-name>FCUserSearchServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<servlet-name>UserSettingsServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<servlet-name>LovFetchData</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<servlet-name>MultiBranchUCFetchServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<servlet-name>FCExtReportClientServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<servlet-name>FCSmsLogServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<servlet-name>ExcelDownload</servlet-name>
	</filter-mapping>
	<!-- Auto Clear User Changes :Start -->
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<servlet-name>FCAutoClrUsrServlet</servlet-name>
	</filter-mapping>
	<!-- Auto Clear User Changes :End -->
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/LOV.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/ExtLovDef.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/ExtLovDef_Cust.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/Launcher.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/ExtLauncher.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/ExtLandLauncher.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/ExtDashboardLauncher.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/Launcher_Brn.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/BpelAudit.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/Calendar.jsp</url-pattern>
		<!--session expiry change   -->
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/ExtCalendar.jsp</url-pattern>
		<!--session expiry change   -->
	</filter-mapping>
	<filter-mapping>
		<!--Summary save - calendar changes-->
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/ExtCalendarSum.jsp</url-pattern>
		<!--session expiry change   -->
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/AccessKeyDetails.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/Advice.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/Authorize.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/LauncherBIReport.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/LauncherSingleViewScreen.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/ExtLauncherSingleViewScreen.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/LauncherSubScreen.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/ExtLauncherSubScreen.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/RemoteAuth.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/SMCHGBRN.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/SMCHGPWD.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/SMMDIFRM.jsp</url-pattern>
	</filter-mapping>
	<!--R4Citi change start -->
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/MFALOGIN.jsp</url-pattern>
	</filter-mapping>
	<!--R4Citi change end -->
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/UserSessions.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/TxnBranch.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/TillDetail.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/Terms.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/Reminder.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/Temp.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/SMUSRSET.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/smerr.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/SMFCEXIT.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/Remarks.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/PrintReport.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/Print.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/JobsDetails.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/ImageUpload.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/GIImageUpload.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/ExtOvrdsBpel.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/ExtCLRU.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/DocumentUpload.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/DocumentSubmit.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/PassbookAdvice.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/LocalAuth.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/CustomerSignView.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/CustomerBalance.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/CustomerSearch.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/CustomerListOfAccounts.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/ExtBIReport.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/ExtPrintReport.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/Help.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/UIXML/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/Reports/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/Templates/*</url-pattern>
	</filter-mapping>
	<!-- Ullas: WAS8.5 compatibility :Commented , this is no longer valid -->
	<!--
filter-mapping> <filter-name>AuthenticationFilter</filter-name> <url-pattern>/fcubs.properties</url-pattern> 
		</filter-mapping 
	-->
	<servlet>
		<servlet-name>HostUploadServlet</servlet-name>
		<servlet-class>com.ofss.fcc.web.HostUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PingServlet</servlet-name>
		<servlet-class>com.ofss.host.oindicator.PingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserSessions</servlet-name>
		<jsp-file>/UserSessions.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>FCCommonServlet</servlet-name>
		<servlet-class>com.ofss.fcc.web.FCCommonServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>BranchController</servlet-name>
		<servlet-class>com.ofss.infra.controller.BranchController</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>External Lov Rest Service</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.ofss.fcc.handlers.FCExtLovRSApplication</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>LoginValidateServlet</servlet-name>
		<servlet-class>com.ofss.infra.web.LoginValidateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MFALoginValidateServlet</servlet-name>
		<servlet-class>com.ofss.infra.web.MFALoginValidateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.ofss.infra.web.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReplicationBranchServlet</servlet-name>
		<servlet-class>com.ofss.branch.web.ReplicationBranchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileUploadServlet</servlet-name>
		<servlet-class>com.ofss.fcc.web.FileUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FCScheduleServlet</servlet-name>
		<servlet-class>com.ofss.fcc.web.FCScheduleServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>SMSStartLogServlet</servlet-name>
		<servlet-class>com.ofss.infra.web.SMSStartLogServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SMSEndLogServlet</servlet-name>
		<servlet-class>com.ofss.infra.web.SMSEndLogServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FCClientHandler</servlet-name>
		<servlet-class>com.ofss.infra.web.FCClientHandler</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FCExtRestCallServlet</servlet-name>
		<servlet-class>com.ofss.infra.web.FCExtRestCallServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SMSSignOffServlet</servlet-name>
		<servlet-class>com.ofss.infra.web.SMSSignOffServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PasswordResetServlet</servlet-name>
		<servlet-class>com.ofss.infra.web.FCPasswdResetServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChgBrnServlet</servlet-name>
		<servlet-class>com.ofss.infra.web.FCChgBrnClientServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChgEntServlet</servlet-name>
		<servlet-class>com.ofss.infra.web.FCChgEntClientServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChgDeptServlet</servlet-name>
		<servlet-class>com.ofss.infra.web.ChgDeptServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FCReportClientHandler</servlet-name>
		<servlet-class>com.ofss.infra.web.FCReportClientHandler</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FCDataHandler</servlet-name>
		<servlet-class>com.ofss.infra.web.FCDataHandler</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AsyncBranchServlet</servlet-name>
		<servlet-class>com.ofss.branch.web.AsyncBranchServlet</servlet-class>
	</servlet>
	<!-- Servlet for Supporting Multi Branch access -->
	<servlet>
		<servlet-name>MultiBranchUCFetchServlet</servlet-name>
		<servlet-class>com.ofss.infra.web.MultiBranchUCFetchServlet</servlet-class>
	</servlet>
	<!-- Tool Related Entries -->
	<!--
 <servlet> <servlet-name>UIControllerServlet</servlet-name> <servlet-class>com.ofss.tool.web.UIControllerServlet</servlet-class> 
		</servlet> <servlet> <servlet-name>CodeGeneratorServlet</servlet-name> <servlet-class>com.ofss.tool.web.CodeGeneratorServlet</servlet-class> 
		</servlet> <servlet> <servlet-name>SchemaManagerServlet</servlet-name> <servlet-class>com.ofss.tool.web.SchemaManagerServlet</servlet-class> 
		</servlet> <servlet> <servlet-name>ScriptsGeneratorServlet</servlet-name> 
		<servlet-class>com.ofss.tool.web.ScriptsGeneratorServlet</servlet-class> 
		</servlet> 
	-->
	<servlet>
		<servlet-name>FCServiceInvokerServlet</servlet-name>
		<servlet-class>com.ofss.infra.web.FCServiceInvokerServlet</servlet-class>
	</servlet>
	<!--Servlets added for file transfer -->
	<servlet>
		<servlet-name>GIFileTransferServlet</servlet-name>
		<servlet-class>com.ofss.infra.web.GIFileTransferServlet</servlet-class>
	</servlet>
	<!--End Servlets added for file transfer -->
	<servlet>
		<servlet-name>ExtLovFetchData</servlet-name>
		<servlet-class>com.ofss.infra.web.ExtLovFetchData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExtHolidayFetchData</servlet-name>
		<servlet-class>com.ofss.infra.web.ExtHolidayFetchData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExtCLRUServlet</servlet-name>
		<servlet-class>com.ofss.infra.web.ExtCLRUServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FCMbeanClientServlet</servlet-name>
		<servlet-class>com.ofss.infra.web.FCMbeanClientServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FCReportHandleRequest</servlet-name>
		<servlet-class>com.ofss.infra.web.FCReportHandleRequest</servlet-class>
		<multipart-config>
			<max-file-size>1048576</max-file-size>
		</multipart-config>
	</servlet>
	<servlet>
		<servlet-name>FCUserAlertsServlet</servlet-name>
		<servlet-class>com.ofss.infra.web.FCUserAlertsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LovFetchData</servlet-name>
		<servlet-class>com.ofss.infra.web.LovFetchData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserSettingsServlet</servlet-name>
		<servlet-class>com.ofss.infra.web.FCUserSettingsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExcelDownload</servlet-name>
		<servlet-class>com.ofss.infra.web.ExcelDownload</servlet-class>
		<multipart-config>
			<max-file-size>1048576</max-file-size>
		</multipart-config>
	</servlet>
	<servlet>
		<description/>
		<display-name>CustomerImageReaderServlet</display-name>
		<servlet-name>CustomerImageReaderServlet</servlet-name>
		<servlet-class>com.ofss.infra.web.CustomerImageReaderServlet</servlet-class>
	</servlet>
	<servlet>
		<description/>
		<display-name>DataEntryImageReaderServlet</display-name>
		<servlet-name>DataEntryImageReaderServlet</servlet-name>
		<servlet-class>com.ofss.infra.web.DataEntryImageReaderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UnTankServlet</servlet-name>
		<servlet-class>com.ofss.host.untanking.UnTankServlet</servlet-class>
	</servlet>
	<!--
<servlet> <servlet-name>ImageReadServlet</servlet-name> <servlet-class></servlet-class> 
		</servlet> 
	-->
	<servlet>
		<servlet-name>FCExtReportClientServlet</servlet-name>
		<servlet-class>com.ofss.infra.web.FCExtReportClientServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FCUBSSignatureServlet</servlet-name>
		<servlet-class>com.ofss.infra.web.FCUBSSignatureServlet</servlet-class>
		<multipart-config>
			<max-file-size>1048576</max-file-size>
		</multipart-config>
	</servlet>
	<servlet>
		<servlet-name>GIFileUploadServlet</servlet-name>
		<servlet-class>com.ofss.infra.web.GIFileUploadServlet</servlet-class>
		<multipart-config>
			<max-file-size>1048576</max-file-size>
		</multipart-config>
	</servlet>
	<servlet>
		<servlet-name>FCUserSearchServlet</servlet-name>
		<servlet-class>com.ofss.infra.web.FCUserSearchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FCUBSHelpPageHandler</servlet-name>
		<servlet-class>com.ofss.infra.web.FCUBSHelpPageHandler</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FCUtilityServlet</servlet-name>
		<servlet-class>com.ofss.infra.web.FCUtilityServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FCSmsLogServlet</servlet-name>
		<servlet-class>com.ofss.infra.web.FCSmsLogServlet</servlet-class>
	</servlet>
	<!--
 BOTG changes start 
    <servlet>
        <servlet-name>BOTGJersey</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>
BOTG changes end 
	-->
	<servlet>
		<servlet-name>OBIEEServlet</servlet-name>
		<servlet-class>com.ofss.infra.web.OBIEEServlet</servlet-class>
	</servlet>
	<!-- Auto Clear User Changes :Start -->
	<servlet>
		<servlet-name>FCAutoClrUsrServlet</servlet-name>
		<servlet-class>com.ofss.infra.web.FCAutoClrUsrServlet</servlet-class>
	</servlet>
	<!-- Auto Clear User Changes :End -->
	<servlet-mapping>
		<servlet-name>External Lov Rest Service</servlet-name>
		<url-pattern>/LovService/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OBIEEServlet</servlet-name>
		<url-pattern>/obieeservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HostUploadServlet</servlet-name>
		<url-pattern>/HostUploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PingServlet</servlet-name>
		<url-pattern>/PingServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserSessions</servlet-name>
		<url-pattern>/UserSessions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FCCommonServlet</servlet-name>
		<url-pattern>/FCCommonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BranchController</servlet-name>
		<url-pattern>/BranchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginValidateServlet</servlet-name>
		<url-pattern>/LoginValidateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MFALoginValidateServlet</servlet-name>
		<url-pattern>/MFALoginValidateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReplicationBranchServlet</servlet-name>
		<url-pattern>/ReplicationBranchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileUploadServlet</servlet-name>
		<url-pattern>/fileuploadservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SMSStartLogServlet</servlet-name>
		<url-pattern>/SMSStartLogServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SMSEndLogServlet</servlet-name>
		<url-pattern>/SMSEndLogServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FCClientHandler</servlet-name>
		<url-pattern>/FCClientHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FCExtRestCallServlet</servlet-name>
		<url-pattern>/FCExtRestCallServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SMSSignOffServlet</servlet-name>
		<url-pattern>/SMSSignOffServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PasswordResetServlet</servlet-name>
		<url-pattern>/PasswordResetServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChgBrnServlet</servlet-name>
		<url-pattern>/ChgBrnServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChgEntServlet</servlet-name>
		<url-pattern>/ChgEntServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChgDeptServlet</servlet-name>
		<url-pattern>/ChgDeptServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FCReportClientHandler</servlet-name>
		<url-pattern>/FCReportClientHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FCDataHandler</servlet-name>
		<url-pattern>/FCDataHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AsyncBranchServlet</servlet-name>
		<url-pattern>/AsyncBranchServlet</url-pattern>
	</servlet-mapping>
	<!--
 <servlet-mapping> <servlet-name>UIControllerServlet</servlet-name> 
		<url-pattern>/UIControllerServlet</url-pattern> </servlet-mapping> <servlet-mapping> 
		<servlet-name>CodeGeneratorServlet</servlet-name> <url-pattern>/CodeGeneratorServlet</url-pattern> 
		</servlet-mapping> <servlet-mapping> <servlet-name>SchemaManagerServlet</servlet-name> 
		<url-pattern>/SchemaManagerServlet</url-pattern> </servlet-mapping> <servlet-mapping> 
		<servlet-name>ScriptsGeneratorServlet</servlet-name> <url-pattern>/ScriptsGeneratorServlet</url-pattern> 
		</servlet-mapping> 
	-->
	<!-- Servlet for Supporting Multi Branch access -->
	<servlet-mapping>
		<servlet-name>MultiBranchUCFetchServlet</servlet-name>
		<url-pattern>/MultiBranchUCFetchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FCServiceInvokerServlet</servlet-name>
		<url-pattern>/FCServiceInvokerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FCScheduleServlet</servlet-name>
		<url-pattern>/FCScheduleServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExtLovFetchData</servlet-name>
		<url-pattern>/ExtLovFetchData</url-pattern>
	</servlet-mapping>
	<!--Servlets added for file transfer -->
	<servlet-mapping>
		<servlet-name>GIFileTransferServlet</servlet-name>
		<url-pattern>/GIFileTransferServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExtHolidayFetchData</servlet-name>
		<url-pattern>/ExtHolidayFetchData</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExtCLRUServlet</servlet-name>
		<url-pattern>/ExtCLRUServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FCMbeanClientServlet</servlet-name>
		<url-pattern>/FCMbeanClientServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FCReportHandleRequest</servlet-name>
		<url-pattern>/FCReportHandleRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FCUserAlertsServlet</servlet-name>
		<url-pattern>/FCUserAlertsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LovFetchData</servlet-name>
		<url-pattern>/lovfetchdata</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserSettingsServlet</servlet-name>
		<url-pattern>/UserSettingsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExcelDownload</servlet-name>
		<url-pattern>/ExcelDownload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UnTankServlet</servlet-name>
		<url-pattern>/UnTankServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FCUBSSignatureServlet</servlet-name>
		<url-pattern>/FCUBSSignatureServlet</url-pattern>
	</servlet-mapping>
	<!-- Scheduling of uploads Begin -->
	<servlet-mapping>
		<servlet-name>GIFileUploadServlet</servlet-name>
		<url-pattern>/GIFileUploadServlet</url-pattern>
	</servlet-mapping>
	<!-- Scheduling of uploads End -->
	<servlet-mapping>
		<servlet-name>FCUserSearchServlet</servlet-name>
		<url-pattern>/FCUserSearchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FCUBSHelpPageHandler</servlet-name>
		<url-pattern>/helppagehandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FCUtilityServlet</servlet-name>
		<url-pattern>/FCUtilityServlet</url-pattern>
	</servlet-mapping>
	<mime-mapping>
		<extension>xls</extension>
		<mime-type>application/vnd.ms-excel</mime-type>
	</mime-mapping>
	<servlet-mapping>
		<servlet-name>CustomerImageReaderServlet</servlet-name>
		<url-pattern>/CustomerImageReaderServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DataEntryImageReaderServlet</servlet-name>
		<url-pattern>/DataEntryImageReaderServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FCExtReportClientServlet</servlet-name>
		<url-pattern>/FCExtReportClientServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FCSmsLogServlet</servlet-name>
		<url-pattern>/FCSmsLogServlet</url-pattern>
	</servlet-mapping>
	<!-- Auto Clear User Changes :Start -->
	<servlet-mapping>
		<servlet-name>FCAutoClrUsrServlet</servlet-name>
		<url-pattern>/fcautoclrusrservlet</url-pattern>
	</servlet-mapping>
	<!-- Auto Clear User Changes :End -->
	<!--
 BOTG changes start 
    <servlet-mapping>
        <servlet-name>BOTGJersey</servlet-name>
        <url-pattern>/botg/*</url-pattern>
    </servlet-mapping>
BOTG changes end 
	-->
	<welcome-file-list>
		<welcome-file>welcome.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error404.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error404.jsp</location>
	</error-page>	
	<env-entry>
		<env-entry-name>PATH_FCUBSPROPERTIES</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value/>
	</env-entry>
	<env-entry>
		<env-entry-name>EXTERNAL_JSUIXML_PATH</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>D:/JUNK/MAIN</env-entry-value>
	</env-entry>
</web-app>
