:root {
  --oj-palette-brand-rgb-10: 248, 249, 255;
  --oj-palette-brand-rgb-20: 242, 244, 254;
  --oj-palette-brand-rgb-30: 242, 244, 254;
  --oj-palette-brand-rgb-40: 219, 225, 245;
  --oj-palette-brand-rgb-50: 198, 207, 235;
  --oj-palette-brand-rgb-60: 173, 182, 210;
  --oj-palette-brand-rgb-70: 160, 169, 197;
  --oj-palette-brand-rgb-80: 160, 169, 197;
  --oj-palette-brand-rgb-90: 124, 133, 164;
  --oj-palette-brand-rgb-100: 107, 116, 148;
  --oj-palette-brand-rgb-110: 96, 105, 136;
  --oj-palette-brand-rgb-120: 88, 95, 128;
  --oj-palette-brand-rgb-130: 79, 85, 115;
  --oj-palette-brand-rgb-140: 70, 76, 104;
  --oj-palette-brand-rgb-150: 60, 66, 91;
  --oj-palette-brand-rgb-160: 48, 54, 76;
  --oj-palette-brand-rgb-170: 42, 45, 63;
  --oj-palette-brand-rgb-180: 27, 31, 43;
  --oj-palette-brand-rgb-190: 19, 21, 29;
  /*Navigation list label font*/
  --oj-navigation-list-vertical-font-weight: 400;
  --oj-navigation-list-item-start-end-padding:0;
  

  /* Typography heading tags */
  --oj-typography-heading-2xl-font-size: 1.5rem;
  --oj-typography-heading-2xl-font-weight: 700;
  --oj-typography-heading-2xl-line-height: 1.17;
  --oj-typography-heading-xl-font-size: 1.25rem;
  --oj-typography-heading-xl-font-weight: 700;
  --oj-typography-heading-xl-line-height: 1.17;
  --oj-typography-heading-lg-font-size: 1.4rem;
  --oj-typography-heading-lg-font-weight: 600;
  --oj-typography-heading-lg-line-height: 1.17;
  --oj-typography-heading-md-font-size: 1.25rem;
  --oj-typography-heading-md-font-weight: 600;
  --oj-typography-heading-md-line-height: 1.17;

  /*--*//*oj-heading-margin-top: 1.25rem;
  --oj-heading-margin-bottom: 1.25rem;*/

  --oj-masonry-layout-tile-width: 15rem;
  --oj-masonry-layout-tile-height: 15rem;
  --oj-typography-font-family: Oracle Sans, sans-serif;
  --oj-panel-bg-color: var(--oj-panel-neutral-0-bg-color);
  --oj-body-bg-color: var(--oj-panel-neutral-0-bg-color);
  --oj-button-height: 1.875rem;
  --oj-button-text-to-edge-padding: .92857rem;

  /* text field height */
  --oj-text-field-height: 1.875rem;

  /*text field horizontal padding decreased to fit date range*/
  --oj-text-field-padding-horizontal: 5px;

  /*Table header*/
  --oj-collection-header-font-size: var(--oj-label-font-size);

  /* Button Styles */
  --button-primary-bg-color: #6A9D67;
  --button-primary-border-color: #6A9D67;
  --button-primary-foreground-color: #FFF;
  --button-primary-bg-color-hover: #467146;

  --oj-button-outlined-chrome-bg-color: #FFF;
  --oj-button-outlined-chrome-border-color: #161513;
  --oj-button-outlined-chrome-text-color: #161513;
  --oj-button-outlined-chrome-border-color-hover: #161513;
  --oj-button-outlined-chrome-bg-color-hover: #F5F4F2;
  --oj-button-outlined-chrome-text-color-hover: #161513;
  --oj-button-outlined-chrome-bg-color-selected: #F5F4F2;
  --oj-button-outlined-chrome-bg-color-active: #F5F4F2;
  --oj-button-outlined-chrome-text-color-active: #161513;
  --oj-button-outlined-chrome-border-color-active: #161513;
  
  --oj-form-layout-margin-bottom : 0.5px;

  /*scroll bar css*/
  --oj-scrollbar-thumb-color: #C1C1C1;
  --oj-scrollbar-thumb-color-hover: #787878;
  --oj-scrollbar-track-color: #E7E7E9;
  --oj-scrollbar-track-color-hover: #E7E7E9;

/*Required field color*/
       --oj-label-required-icon-color: var(--oj-core-danger-3);
     
    --oj-form-layout-start-edge-column-max-width: 100%;
    --oj-core-focus-border-color: transparent;
    --oj-navigation-list-item-min-height: 2.5rem;
    
    /*  oj-popup background color changes same as partitionpanel */
    --oj-popup-bg-color: #FBF9F8;
    /*menu button divider*/
/*    --oj-core-divider-color: rgb(var(--oj-palette-neutral-rgb-190));  */
}

oj-buttonset-one {
  --oj-button-outlined-chrome-border-color-selected : #161513; 
  --oj-button-outlined-chrome-border-color-selected-hover : #161513; 
  --oj-buttonset-outlined-chrome-internal-border-color : #161513;
  --oj-button-outlined-chrome-border-color : #161513;
  --oj-button-outlined-chrome-border-color-hover : #161513;
  --oj-button-outlined-chrome-bg-color-selected : #fff;
  --oj-buttonset-outlined-chrome-text-color : #706F6D;
}

.top-header {
  --oj-text-field-font-size-read-only: 0.75rem;
}

.action-button-primary {
    --oj-button-solid-chrome-bg-color:              rgb(var(--oj-palette-brand-rgb-100));
    --oj-button-solid-chrome-border-color:          transparent;
    --oj-button-solid-chrome-text-color:            var(--oj-core-neutral-contrast);
    
    --oj-button-solid-chrome-bg-color-hover:        rgb(var(--oj-palette-brand-rgb-90));
    --oj-button-solid-chrome-border-color-hover:    transparent;
    --oj-button-solid-chrome-text-color-hover:      var(--oj-core-neutral-contrast);
    
    --oj-button-solid-chrome-bg-color-active:       rgb(var(--oj-palette-brand-rgb-50));
    --oj-button-solid-chrome-border-color-active:   transparent;
    --oj-button-solid-chrome-text-color-active:     var(--oj-core-neutral-contrast);
    
    --oj-button-solid-chrome-bg-color-disabled:     rgba(var(--oj-palette-neutral-rgb-100), .1);
    --oj-button-solid-chrome-border-color-disabled: transparent;
    --oj-button-solid-chrome-text-color-disabled:   var(--oj-core-text-color-disabled);
}
.oj-color-invert, .oj-contrast-marker{
     --oj-button-borderless-chrome-text-color: #fff;
    --oj-button-borderless-chrome-text-color-hover: #fff;
    --oj-button-borderless-chrome-text-color-selected: #fff;
    --oj-button-borderless-chrome-text-color-selected-hover: #fff;
    --oj-button-borderless-chrome-text-color-active: #fff;
    --oj-button-borderless-chrome-icon-color: #fff;
    --oj-button-borderless-chrome-icon-color-hover: #fff;
    --oj-button-borderless-chrome-icon-color-selected: #fff;
    --oj-button-borderless-chrome-icon-color-selected-hover: #fff;
    --oj-button-borderless-chrome-icon-color-active: #fff;
    --oj-navigation-list-item-label-color: #fff;
    --oj-navigation-list-item-label-color-hover: #fff;
    --oj-navigation-list-item-contrast-bg-color-hover: RGB(var(--oj-palette-brand-rgb-150));
    --oj-text-field-value-color-read-only: #fff;
    --oj-heading-text-color: #fff;
    --oj-core-text-color-primary: #fff;
    --oj-radio-checkbox-input-color-selected: #fff;
}
.oj-bg-brand-30{
    --oj-core-divider-color: rgba(var(--oj-palette-neutral-rgb-190),.4);
}
.viewchanges-modified{
    --oj-core-text-color-primary: #0ca8ff;
}
.viewchanges-added{
    --oj-core-text-color-primary: #0aaF03;
}
.viewchanges-deleted{
    --oj-core-text-color-primary: #FF364e;
}
.btn-error {
   --oj-button-solid-chrome-bg-color: #D63B24;
    --oj-button-solid-chrome-border-color:          transparent;
    --oj-button-solid-chrome-text-color:            #ffffff;
    
    --oj-button-solid-chrome-bg-color-hover:        #C33421;
    --oj-button-solid-chrome-border-color-hover:    transparent;
    --oj-button-solid-chrome-text-color-hover:      #ffffff;
    
    --oj-button-solid-chrome-bg-color-active:  #D63B24;
    --oj-button-solid-chrome-border-color-active:   transparent;
    --oj-button-solid-chrome-text-color-active:     #ffffff;
    --oj-button-solid-chrome-bg-color-disabled:     rgba(var(--oj-palette-neutral-rgb-100), .1);
    --oj-button-solid-chrome-border-color-disabled: transparent;
    --oj-button-solid-chrome-text-color-disabled:   var(--oj-core-text-color-disabled);
}
.btn-warning {
   --oj-button-solid-chrome-bg-color: #AC630C;
    --oj-button-solid-chrome-border-color:          transparent;
    --oj-button-solid-chrome-text-color:            #ffffff;
    
    --oj-button-solid-chrome-bg-color-hover:        #9C590B;
    --oj-button-solid-chrome-border-color-hover:    transparent;
    --oj-button-solid-chrome-text-color-hover:      #ffffff;
    
    --oj-button-solid-chrome-bg-color-active:  #AC630C;
    --oj-button-solid-chrome-border-color-active:   transparent;
    --oj-button-solid-chrome-text-color-active:     #ffffff;
    --oj-button-solid-chrome-bg-color-disabled:     rgba(var(--oj-palette-neutral-rgb-100), .1);
    --oj-button-solid-chrome-border-color-disabled: transparent;
    --oj-button-solid-chrome-text-color-disabled:   var(--oj-core-text-color-disabled);
}
.oj-button-toggle.oj-focus-highlight,.oj-button.oj-focus-highlight .oj-button-button {	
	border-color: rgb(var(--oj-palette-brand-rgb-110));
    box-shadow: 0 0 0 1px rgb(var(--oj-palette-brand-rgb-110)) inset;
}
.oj-choice-item.oj-focus-highlight .oj-radiocheckbox-icon::before {
    border-color: rgb(var(--oj-palette-brand-rgb-110));	
	box-shadow:0 0 0 1px rgb(var(--oj-palette-brand-rgb-110)) inset;    
}
.oj-switch-thumb:focus {
    border-color: rgb(var(--oj-palette-brand-rgb-110));	
	box-shadow:0 0 0 1px rgb(var(--oj-palette-brand-rgb-110)) inset;  
}