<?xml version = "1.0" encoding = "UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="false">
	<display-name>ORACLE ODT Tool</display-name>
	<description>ORACLE Open Development Tool</description>
	<listener>
		<listener-class>com.ofss.odt.controller.ODTSessionListener</listener-class>
	</listener>	
	<filter>
		<filter-name>SessionFilter</filter-name>
		<filter-class>com.ofss.odt.filter.SessionFilter</filter-class>
		<init-param>
			<param-name>avoid-urls</param-name>
			<param-value>RadIndex.html,RadLogin.jsp,RadError.jsp,compatabilityerror.jsp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>ODTClientHandler</servlet-name>
		<servlet-class>com.ofss.odt.controller.ODTClientHandler</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>RADLoginServlet</servlet-name>
		<servlet-class>com.ofss.odt.controller.RADLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExtLovFetchData</servlet-name>
		<servlet-class>com.ofss.odt.controller.ExtLovFetchData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RadChangePwd</servlet-name>
		<servlet-class>com.ofss.odt.controller.RadChangePwd</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownLoadFile</servlet-name>
		<servlet-class>com.ofss.odt.controller.DownLoadFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReadServlet</servlet-name>
		<servlet-class>com.ofss.odt.controller.ReadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadFileToServer</servlet-name>
		<servlet-class>com.ofss.odt.controller.UploadFileToServer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ODTClientHandler</servlet-name>
		<url-pattern>/RADClientHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RADLoginServlet</servlet-name>
		<url-pattern>/RADLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExtLovFetchData</servlet-name>
		<url-pattern>/ExtLovFetchData</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RadChangePwd</servlet-name>
		<url-pattern>/RadChangePwd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownLoadFile</servlet-name>
		<url-pattern>/DownLoadFile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadServlet</servlet-name>
		<url-pattern>/ReadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadFileToServer</servlet-name>
		<url-pattern>/UploadFileToServer</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/UserLevelExceptionPage.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/UserLevelExceptionPage.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/UserLevelExceptionPage.jsp</location>
	</error-page>
	<mime-mapping>
		<extension>xls</extension>
		<mime-type>application/vnd.ms-excel</mime-type>
	</mime-mapping>
	<welcome-file-list>
		<welcome-file>RadIndex.html</welcome-file>
	</welcome-file-list>
</web-app>