<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="WebApp_1227110968578" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <ejb-ref>
        <ejb-ref-name>GW_EJB_Bean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>com.iflex.fcubs.gw.ejb.GWEJBRemoteHome</home>
        <remote>com.iflex.fcubs.gw.ejb.GWEJBRemote</remote>
    </ejb-ref> 
     <env-entry> 
		<description>Property File Path</description>
		<env-entry-name>propertyPath</env-entry-name>  
		<env-entry-type>java.lang.String</env-entry-type> 
		<env-entry-value>D:/Utility/config/WEBSPHERE/</env-entry-value> 
    </env-entry>
</web-app>
