/*----------------------------------------------------------------------------------------------------
**
** File Name    :BROWSER_FF.css
**
** Module       : FCJWeb
**
** This source is part of the Oracle Flexcube Universal Banking
** Software System and is copyrighted by Oracle Financial Services Software Limited.

** All rights reserved.  No part of this work may be reproduced,
** stored in a retrieval system, adopted or transmitted in any form
** or by any means, electronic, mechanical, photographic, graphic,
** optic recording or otherwise, translated in any language or
** computer language, without the prior written permission  from Oracle Financial Services
** Software Limited.

** Oracle Financial Services Software Limited.,
** 10-11, SDF I, SEEPZ, Andheri (East),
** MUMBAI - 400 096.
** INDIA.

Copyright © 2009-2011  by Oracle Financial Services Software Limited..
----------------------------------------------------------------------------------------------------
*/

/* Style definitions (non extensible) specific to firefox 3.5+ */

.LBLstd {word-wrap:break-word}
BUTTON SPAN, B SPAN, A span{ margin-left:-3px}

/* For non extensible screens */
.SPANHeaderMultiple,.SPANHeaderSummary,.DIVButton {
	display:inline
}

.calTDDaysOver,.calTDDays {
	vertical-align:middle
}

.BUTTONInlineTextHover, .BUTTONInlineText {white-space:nowrap}  /*FCUBS11.1 ITR2 SFR#302*/

/*#TblQuery button {position:absolute}*/
.DIVcaption1{position:fixed} /* Fix for 15829798*/
/*Fix for 15890349 */
.HeaderMultiple{
	/*POSITION: fixed;*/
	PADDING-BOTTOM: 3px;
	MARGIN-TOP: -1.6em;
	PADDING-LEFT: 3px;
	PADDING-RIGHT: 3px;
    BACKGROUND-COLOR:#f5f5f5;
	MARGIN-LEFT: -1px;
	CLEAR: both;
	PADDING-TOP: 3px
}

.DIVcaption1{position:fixed} /* Fix for 15829798*/


textarea{
  resize:none;
}

/* Added for 17233213 */
.sectionExpand .sectionCollapse{
  margin-top:-2px;
}

/*HTML5 Changes 6/OCT/2016 start*/
.SELstd {
    padding: 0px;
    vertical-align: middle; 
}

.SELstd option {
    padding: 3px;
}
/*HTML5 Changes 6/OCT/2016 end*/