/*----------------------------------------------------------------------------------------------------
**
** File Name    :BROWSER_GO.css
**
** Module       : FCJWeb
**
** This source is part of the Oracle Flexcube Universal Banking
** Software System and is copyrighted by Oracle Financial Services Software Limited.

** All rights reserved.  No part of this work may be reproduced,
** stored in a retrieval system, adopted or transmitted in any form
** or by any means, electronic, mechanical, photographic, graphic,
** optic recording or otherwise, translated in any language or
** computer language, without the prior written permission  from Oracle Financial Services
** Software Limited.

** Oracle Financial Services Software Limited.,
** 10-11, SDF I, SEEPZ, Andheri (East),
** MUMBAI - 400 096.
** INDIA.

Copyright © 2009-2012  by Oracle Financial Services Software Limited..
----------------------------------------------------------------------------------------------------
*/

/* Style definitions (non extensible) specific to Google Chrome 3.0+ */

.LBLstd {word-wrap:break-word}
/*BUTTON SPAN, B SPAN, A span{ margin-left:-3px}*/
.DIVAudit {
	/*background-image:url(../Images/Flexblue/Backgrounds/BGDIVAudit.gif);*/
	padding:5px 0px 5px 0px;
}

/*#TblQuery button {position:absolute}
#TblQuery .TextNormal {width:12em}*/

/*Display issue  SFR NO  13479312*/
#TblQuery .LABELNormal {padding-left: 4px}

/* Browser specific for precise alignment*/
/*HTML5 changes 24/OCT/2016
.TXTstd{
	BORDER-BOTTOM: #c7d7f0 1px solid;
	BORDER-LEFT: #c7d7f0 1px solid;
	MARGIN: 0px;
	PADDING:0px;
        FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif;
	COLOR: #00366a;
	FONT-SIZE: 0.74em;
	VERTICAL-ALIGN: top;
	BORDER-TOP: #c7d7f0 1px solid;
	BORDER-RIGHT: #c7d7f0 1px solid
}*/

.BTNimg{
	BORDER-BOTTOM: 1px solid #6c91b5 ;
        TEXT-ALIGN: center;
	BORDER-LEFT: 1px solid #6c91b5;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px 2px;
	PADDING-LEFT: 0px;
	WIDTH: 1.36em;
	PADDING-RIGHT: 0px;
        /* Data-URI Changes Starts*/
	/*BACKGROUND: url(../Images/ExtFlexblue/Backgrounds/BGBTNimg.gif) #ecf4ff repeat-x;*/   
        BACKGROUND: url("data:image/gif;base64,R0lGODlhAQAQAPMAAP///9Hf6vj6/NTh69Pg69nj7v/+/+zx9+bu9P37/dvl7vH2+eLr8vb5+/39/uDn8CwAAAAAAQAQAEMEDBAgUdx6xKR2mBpBBAA7") #ecf4ff repeat-x;
        /* Data-URI Changes Ends*/
	HEIGHT: 1.25em;
	VERTICAL-ALIGN: top;
	BORDER-TOP: 1px solid #6c91b5;
	CURSOR: auto;
	BORDER-RIGHT: 1px solid #6c91b5;
	PADDING-TOP: 0px
}

.BTNimgH{
	BORDER-BOTTOM: 1px solid #6c91b5;
	TEXT-ALIGN: center;
	BORDER-LEFT: 1px solid #6c91b5;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px 2px;
	PADDING-LEFT: 0px;
	WIDTH: 1.36em;
	PADDING-RIGHT: 0px;
	/*BACKGROUND: url(../Images/ExtFlexblue/Backgrounds/BGBTNimgh.gif) #fff8f0 repeat-x;*/
	BACKGROUND-COLOR : #fff8f0;
	BACKGROUND-REPEAT : repeat-x;
	HEIGHT: 1.25em;
	VERTICAL-ALIGN: top;
	BORDER-TOP: 1px solid #6c91b5;
	CURSOR: auto;
	BORDER-RIGHT: 1px solid #6c91b5;
	PADDING-TOP: 0px
}

/*
.ICOAlert_C{BACKGROUND-POSITION: -176px -75px}
.ICOAlert_E{BACKGROUND-POSITION: -242px -75px}
.ICOAlert_I{BACKGROUND-POSITION: -198px -75px}
.ICOAlert_O{BACKGROUND-POSITION: -220px -75px}
.ICOaccessibility{BACKGROUND-POSITION: -506px 0px}
.ICOadd{BACKGROUND-POSITION: -151px -54px}
.ICOalert2{BACKGROUND-POSITION: -440px -75px}
.ICOauthorize{BACKGROUND-POSITION: -176px 0px}
.ICOblank{BACKGROUND-POSITION: -396px -175px}
.ICObwindow{BACKGROUND-POSITION: -88px -25px}
.ICOcalendar{BACKGROUND-POSITION: -242px -55px}
.ICOchangepassword{BACKGROUND-POSITION: -462px 0px}
.ICOchecked{BACKGROUND-POSITION: -220px -25px}
.ICOchgbrn{BACKGROUND-POSITION: -396px 0px}
.ICOclose{BACKGROUND-POSITION: -66px 0px}
.ICOconfirm{BACKGROUND-POSITION: -242px 0px}
.ICOcopy{BACKGROUND-POSITION: -22px 0px}
.ICOcustinfo{BACKGROUND-POSITION: -352px -53px}
.ICOcustomer{BACKGROUND-POSITION: -66px -75px}
.ICOdebugwin{BACKGROUND-POSITION: -484px 0px}
.ICOdelete{BACKGROUND-POSITION: -44px 0px}
.ICOdoc{BACKGROUND-POSITION: -44px -53px}
.ICOdwindow{BACKGROUND-POSITION: -66px -25px}
.ICOexit{BACKGROUND-POSITION: -132px -75px}
.ICOfirst{BACKGROUND-POSITION: -63px -53px}
.ICOfirst2{BACKGROUND-POSITION: -22px -53px}
.ICOflexcube{BACKGROUND-POSITION: -154px -75px}
.ICOflexcube2{BACKGROUND-POSITION: -462px -75px}
.ICOfliph{BACKGROUND-POSITION: -484px -53px}
.ICOflipv{BACKGROUND-POSITION: -506px -53px}
.ICOgenerate{BACKGROUND-POSITION: -352px 0px}
.ICOgo{BACKGROUND-POSITION: -132px -25px}
.ICOhelp{BACKGROUND-POSITION: -308px -75px}
.ICOhelpX{BACKGROUND-POSITION: -308px -75px}
.ICOhold{BACKGROUND-POSITION: -286px 0px}
.ICOhome{BACKGROUND-POSITION: -374px 0px}
.ICOlast{BACKGROUND-POSITION: -85px -53px}
.ICOlast2{BACKGROUND-POSITION: 0px -53px}
.ICOliquidate{BACKGROUND-POSITION: -264px 0px}
.ICOlov{BACKGROUND-POSITION: -265px -54px}
.ICOmenu{BACKGROUND-POSITION: 0px -75px}
.ICOnarrative{BACKGROUND-POSITION: -286px -55px}
.ICOnew{BACKGROUND-POSITION: 0px 0px}
.ICOnext{BACKGROUND-POSITION: -107px -53px}
.ICOoffline{BACKGROUND-POSITION: -440px 0px}
.ICOonline{BACKGROUND-POSITION: -418px 0px}
.ICOoperations{BACKGROUND-POSITION: -22px -75px}
.ICOoptions{BACKGROUND-POSITION: -264px -75px}
.ICOoptionsX{BACKGROUND-POSITION: -264px -75px}
.ICOprevious{BACKGROUND-POSITION: -129px -53px}
.ICOprint{BACKGROUND-POSITION: -132px 0px}
.ICOqueryenter{BACKGROUND-POSITION: -176px -25px}
.ICOqueryexecute{BACKGROUND-POSITION: -198px -25px}
.ICOqwindow{BACKGROUND-POSITION: -110px -25px}
.ICOrefresh{BACKGROUND-POSITION: -154px -25px}
.ICOremove{BACKGROUND-POSITION: -173px -54px}
.ICOreopen{BACKGROUND-POSITION: -110px 0px}
.ICOreverse{BACKGROUND-POSITION: -198px 0px}
.ICOrollover{BACKGROUND-POSITION: -220px 0px}
.ICOrotateanticlk{BACKGROUND-POSITION: -462px -53px}
.ICOrotateclk{BACKGROUND-POSITION: -440px -53px}
.ICOrwindow{BACKGROUND-POSITION: -44px -25px}
.ICOsave{BACKGROUND-POSITION: -154px 0px}
.ICOsearch{BACKGROUND-POSITION: -220px -53px}
.ICOseparator{BACKGROUND-POSITION: -396px -75px}
.ICOsessionend{BACKGROUND-POSITION: -330px -53px}
.ICOsessionstart{BACKGROUND-POSITION: -308px -53px}
.ICOsessionwho{BACKGROUND-POSITION: -374px -53px}
.ICOsignoff{BACKGROUND-POSITION: -110px -75px}
.ICOsingleview{BACKGROUND-POSITION: -195px -55px}
.ICOstar{BACKGROUND-POSITION: -421px -78px}
.ICOswindow{BACKGROUND-POSITION: -22px -25px}
.ICOteller{BACKGROUND-POSITION: -88px -75px}
.ICOtemplate{BACKGROUND-POSITION: -308px 0px}
.ICOunchecked{BACKGROUND-POSITION: -242px -25px}
.ICOunlock{BACKGROUND-POSITION: -88px 0px}
.ICOview{BACKGROUND-POSITION: -330px 0px}
.ICOwindow{BACKGROUND-POSITION: 0px -25px}
.ICOwindows{BACKGROUND-POSITION: -286px -75px}
.ICOwindowsX{BACKGROUND-POSITION: -286px -75px}
.ICOworkflow{BACKGROUND-POSITION: -44px -75px}
.ICOzoomin{BACKGROUND-POSITION: -396px -53px}
.ICOzoomout{BACKGROUND-POSITION: -418px -53px}*/

.TXTro{
	BORDER-BOTTOM: #b6b6b6 1px solid;
	BORDER-LEFT: transparent 1px solid;
	MARGIN: 0px;
	FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	COLOR: #00366a;
	FONT-SIZE: 0.74em;
	VERTICAL-ALIGN: top;
	BORDER-TOP: transparent 1px solid;
	BORDER-RIGHT: transparent 1px solid;/*HTML5 Changes*/
	resize: none; 
}

.DIVtblbox2 {
BORDER-BOTTOM: #333 1px solid;
BORDER-LEFT: #333 1px solid;
OVERFLOW-X: auto;
OVERFLOW-Y: auto;
MARGIN: 0px;
DISPLAY: block;
HEIGHT: 10em;
CLEAR: both;
OVERFLOW-X: Hidden;
BORDER-TOP: #333 1px solid;
BORDER-RIGHT: #333 1px solid;
border-right: 1px solid #333;
border-bottom: 1px solid #333;
border-left: 1px solid #333;
margin: 0px;
border-top: 1px solid #333;
}
.ICOadd, .ICOremove, .ICOprevious{ /* Zooming Changes */
margin-left:1px;
margin-top:1px
}