/*----------------------------------------------------------------------------------------------------
**
** File Name    :de.css
**
** Module       : FCJWeb
**
** This source is part of the Oracle Flexcube Universal Banking
** Software System and is copyrighted by Oracle Financial Services Software Limited.

** All rights reserved.  No part of this work may be reproduced,
** stored in a retrieval system, adopted or transmitted in any form
** or by any means, electronic, mechanical, photographic, graphic,
** optic recording or otherwise, translated in any language or
** computer language, without the prior written permission  from Oracle Financial Services
** Software Limited.

** Oracle Financial Services Software Limited.,
** 10-11, SDF I, SEEPZ, Andheri (East),
** MUMBAI - 400 096.
** INDIA.

Copyright © 2009-2011  by Oracle Financial Services Software Limited..
----------------------------------------------------------------------------------------------------
*/

/* Typographic and layout styles for German language - Non-Extensible */

@import url("LTR.css");

body {
	font-size: 100%; /* Increase or decrase to control the overall font size */   	
}

.INPUTRadio,.INPUTCheck,.BUTTONMultiple,.BUTTONMultipleHover,.BUTTONInline,.BUTTONInlineHover,.BUTTONInlineText,.BUTTONInlineTextHover {
	zoom:100%
} 

.BUTTONExit,.BUTTONExitDisabled,.BUTTONExitHover,.BUTTONOk,.BUTTONOkHover,.BUTTONOkDisabled,.BUTTONCancel,.BUTTONCancelHover,.BUTTONCancelDisabled,.INPUTButton,.BUTTONAddRow {
	zoom:100%
}

.SPANSmallText {
    font-size:0.68em
}

legend,label,select,textarea,input,.TabHead,.BUTTONSubSystem,.NavPanel,.TDTabHead,.BUTTONSubSystemDisabled,.tasklistCAPTION,.TDNormal,.THEADTHMultiple,.LABELSummaryHead,.THLov,.TDLov,.TDLovReductionLbl,.calTHDays,.calTDDays,.calTDDaysOver,.calTDDaysSel,.calTDDaysSelOver,.calTDDaysOff,.SPANLabel,.SPANText,.SPANBoldText,.SPANTextarea,.THEADTHMultipleHover,.THEADTHMultipleDown,.TABLESummary th a,.TABLESummaryH td a,.THLovHover,.TABLEData th,.TABLEData td,.TABLECustData th,.TABLECustData td,.SPANHeaderMultiple,.TDTaskHeader,.taskCAPTION,.TABLEAccesskeys th,.TABLEAccesskeys td,.mnuItem,.mnuItemOver {/*static header change*/
	font-size:0.71em
}

.SPANNavHeader,.MenuLDiv a,.MenuL1Div a,.MenuL21Div a,.MenuL2DivLink,.MenuL2Div a,.MenuL3Div a,.LABELBrStatus,.mnuToolbar,.LinkLandingHeader,.CAPTIONUnderline,.TDHighlightOne {
/*	font-size:11px;*/
	font-size:0.71em
}


.TABLEError,.TABLEErrorData th,.TABLEErrorData td  {
	font-size:.72em
}

.drag-handle,.TABLEAccesskeys caption { /*.taskCAPTION */
	font-size:0.74em
}

.drag-resizearea{ /*#TABLEToolBar */
	font-size:0px
}

.TDToolButton {
	font-size:5px
}


.BUTTONExit,.BUTTONExitDisabled,.BUTTONExitHover,.BUTTONOk,.BUTTONOkHover,.BUTTONOkDisabled,.BUTTONCancel,.BUTTONCancelHover,.BUTTONCancelDisabled,.TEXTToolbar {
	font-size:12px
}

/* Print Styles */
.prnOptionTDTitle{
    font-size: 14px;
}

.prnMasterTD,.prnFldLable,.prnBlkLable,.prnFldValue,.prnFldChangedValue,.prnBTNCnt,.TextRecordPerPage {
	font-size: 11pt;
}

.sPrintBody,.sPrintTABLEPage,.prnOptionTABLEHLBR,.prnTDBlockTitle,.prnTDBlockFlds {
	font-size: 9pt;
}





