/*----------------------------------------------------------------------------------------------------
**
** File Name    :Extar.css
**
** Module       : FCJWeb
**
** This source is part of the Oracle Flexcube Universal Banking
** Software System and is copyrighted by Oracle Financial Services Software Limited.

** All rights reserved.  No part of this work may be reproduced,
** stored in a retrieval system, adopted or transmitted in any form
** or by any means, electronic, mechanical, photographic, graphic,
** optic recording or otherwise, translated in any language or
** computer language, without the prior written permission  from Oracle Financial Services
** Software Limited.

** Oracle Financial Services Software Limited.,
** 10-11, SDF I, SEEPZ, Andheri (East),
** MUMBAI - 400 096.
** INDIA.

Copyright © 2009-2021  by Oracle Financial Services Software Limited..
----------------------------------------------------------------------------------------------------
*/

/* Typographic and layout styles for Arabic language - Extensible */

@import url("ExtRTL.css");


body {
	font-size: 105%; /* Increase or decrase to control the overall font size */
	direction:rtl;
}

/* FC 11.4 NLS Changes  Starts*/
/* Tiji 15-12-10 */
 .ICOnext{
  /* Data-URI Changes Starts*/
  /*BACKGROUND: url(../Images/ExtFlexblue/Icons/ICOnext.gif);*/
  BACKGROUND: url("data:image/gif;base64,R0lGODlhEgASAPEAAGe0/wAym////////yH5BAEAAAMALAAAAAASABIAQQIpnI+pJuEBgli0oibtdVOf7jFOBFYYF5bh+mVrQ6ZPbJ1o/ahUo7N+VQAAOw==") ;
  /* Data-URI Changes Ends*/
  }
  .ICOprevious{
  /* Data-URI Changes Starts*/
 /* BACKGROUND: url(../Images/ExtFlexblue/Icons/ICOprevious.gif);*/
  BACKGROUND: url("data:image/gif;base64,R0lGODlhEgASAPEAAGe0/wAym////////yH5BAEAAAMALAAAAAASABIAQQIpnI+pJgEBg1i00iYtwlNvPzRPpmFQB4bpmjSoJZJVfJZR7ZmvvbP+UQAAOw==") ;
   /* Data-URI Changes Ends*/
  }
.ICOfirst
  {
  /* Data-URI Changes Starts*/
/*  BACKGROUND: url(../Images/ExtFlexblue/Icons/ICOfirst.gif);*/
  BACKGROUND: url("data:image/gif;base64,R0lGODlhEgASAPEAAGe0/////wAym////yH5BAEAAAMALAAAAAASABIAQQI3nI+pIc3QnJr0MGluWHFnnATiMl3C9oBWN5hnOYbVzKmMh5heiq9Oqvr8IsEWy1jU5V60ptNQAAA7") ;
  /* Data-URI Changes Ends*/
  }
  .ICOfirst2
  {
  /* Data-URI Changes Starts*/
 /* BACKGROUND: url(../Images/ExtFlexblue/Icons/ICOfirst2.gif) ;*/
  BACKGROUND: url("data:image/gif;base64,R0lGODlhEgASAPEAAGe0/wAym////////yH5BAEAAAMALAAAAAASABIAQQI3nI+JEhAfmINC2bteNSzavg0gFh4l12hi6mXU+l6niNVyi85Su5e79sPBKJ2Yi2dMMHxCm9NWAAA7") ;
  /* Data-URI Changes Ends*/
  }
  .ICOlast
  {
  /* Data-URI Changes Starts*/
/*  BACKGROUND: url(../Images/ExtFlexblue/Icons/ICOlast.gif) ;*/
  BACKGROUND: url("data:image/gif;base64,R0lGODlhEgASAPEAAGe0/////wAym////yH5BAEAAAMALAAAAAASABIAQQI3nI+pIS0gWAuq2iOpkXFN7GiJiAUk+HTcOXBqWLEme9UMuXqQlo/O3kO4IkFUpwXz4ZK1phNRAAA7");
  /* Data-URI Changes Ends*/
  }
  .ICOlast2
  {
  /* Data-URI Changes Starts*/
 /* BACKGROUND: url(../Images/ExtFlexblue/Icons/ICOlast2.gif) ;*/
  BACKGROUND: url("data:image/gif;base64,R0lGODlhEgASAPEAAGe0/wAym////////yH5BAEAAAMALAAAAAASABIAQQI5nI+JEh0QmINC2SuryZbvpinhMSYSNZyR6awSKMbXPDOjjT1rqpd8Q3mhSK3IC0ZEvnw4oo8GjSIKADs=") ;
  /* Data-URI Changes Ends*/
  }
/*1202 nls.ICOgo{BACKGROUND-POSITION: -264px -25px}*/
.ICOgo{
    /* Data-URI Changes Starts*/
    /*background: url("../Images/ExtFlexblue/Icons/gortl.gif") no-repeat scroll 0 0 transparent;*/
    background: url("data:image/gif;base64,R0lGODlhFAAUAPMAABhCf2mY6yx36RxQmm6v+ip04TB76yFbsCVhviRw3xpMkk6P7iVnyTuC7Ct56gAAACH5BAEAAA8ALAAAAAAUABQAQwRR8MlJq53FGMed+EKzXGR5LYFpAQPDHAogt2ptNXgQEMTOXyxGQdDpiFQAhG3JbD5STRHUhtPgFljsdHI4CIlFzhHYKhQSLleiYQo6Jcq3vBYBADs=") no-repeat scroll 0 0 transparent;
    /* Data-URI Changes Ends*/
}

.ICObrwMinimizer {
/* Data-URI Changes Starts*/
/*BACKGROUND: url(../Images/ExtFlexblue/Icons/go.gif) no-repeat 0px 0px*/
BACKGROUND: url("data:image/gif;base64,R0lGODlhFAAUAPMAABhCfyx36WmY626v+hxQmip04TB76yFbsCRw3yVhvhpMkk6P7iVnyTuC7Ct56gAAACH5BAEAAA8ALAAAAAAUABQAQwRQ8MlJq5WrhR2cd4ZRXGRpCov5MATgKgfDAmptDfgg4FnTlJnPJ1CY2R4J2nHJrAmaEtSvJEAtrr6QjxQUeoiMw8HSQMhkiEKxtTQyE9B4LQIAOw==") no-repeat 0px 0px
    /* Data-URI Changes Ends*/
}
.ICObrwMaximizer {
/* Data-URI Changes Starts*/
/*BACKGROUND: url(../Images/ExtFlexblue/Icons/gortl.gif) no-repeat 0px 0px*/
BACKGROUND: url("data:image/gif;base64,R0lGODlhFAAUAPMAABhCf2mY6yx36RxQmm6v+ip04TB76yFbsCVhviRw3xpMkk6P7iVnyTuC7Ct56gAAACH5BAEAAA8ALAAAAAAUABQAQwRR8MlJq53FGMed+EKzXGR5LYFpAQPDHAogt2ptNXgQEMTOXyxGQdDpiFQAhG3JbD5STRHUhtPgFljsdHI4CIlFzhHYKhQSLleiYQo6Jcq3vBYBADs=") no-repeat 0px 0px
    /* Data-URI Changes Ends*/
}

/* Tiji 3-5-2011 for fixing the top margin of calendar and lov */
.WNDcontentmodal {
	margin-top:1.5em
}
/* FC 11.4 NLS Changes  Ends*/

.WNDbuttons{
float :left;
}

.WNDbuttons a {
float :left;
}

.WNDtitletext {
Text-align :right;
float:right;
}
/*Fix for 30397320 Added*/
.FSTstd {
    TEXT-ALIGN: right;
}

.ICOAlert_I {
    float:right;
}
.ICOAlert_C {
    float:right;
}
.ICOAlert_E {
    float:right;
}