/*----------------------------------------------------------------------------------------------------
**
** File Name    :ExtBROWSER_IE.css
**
** Module       : FCJWeb
**
** This source is part of the Oracle Flexcube Universal Banking
** Software System and is copyrighted by Oracle Financial Services Software Limited.

** All rights reserved.  No part of this work may be reproduced,
** stored in a retrieval system, adopted or transmitted in any form
** or by any means, electronic, mechanical, photographic, graphic,
** optic recording or otherwise, translated in any language or
** computer language, without the prior written permission  from Oracle Financial Services
** Software Limited.

** Oracle Financial Services Software Limited.,
** 10-11, SDF I, SEEPZ, Andheri (East),
** MUMBAI - 400 096.
** INDIA.

Copyright © 2009-2012  by Oracle Financial Services Software Limited..

**  Modified By          : Neethu Sreedharan
**  Modified On          : 15-Jun-2017
**  Modified Reason      : Changes done to wrap the longer  UDF text to next line 
**  Retro Source         : 9NT1606_12_1_MKB_BANK_ZRT
**  Search String        : 9NT1606_12_4_RETRO_12_1_26229923

**  Modified By          : Neethu Sreedharan
**  Modified On          : 20-Jun-2017
**  Modified Reason      : Changes done to show textarea fields properly in case of IE11 browser.
**  Retro Source         : 9NT1606_12_0_1_XAC_BANK
**  Search String        : 9NT1606_12_4_RETRO_12_0_1_26230262

**  Modified By          : Ambika Selvaraj
**  Modified On          : 18-Sep-2017
**  Modified Reason      : Changes done to distinguish disabled fields
**  Retro Source         : 9NT1606_12_2_BANK_MED_SAL
**  Search String        : 9NT1606_12_4_RETRO_12_2_26818248
----------------------------------------------------------------------------------------------------
*/

/* Style definitions specific to internet explorer 8+ for Extensible screens */


.LBLstd {word-break:keep-all}
/*udf change*/
.LBLUdf {word-wrap:break-word} /*9NT1606_12_4_RETRO_12_1_26229923 changes */
/*udf change */
.BTNtextD {FILTER:alpha(opacity=30)}
.BTNfooterD {FILTER:alpha(opacity=30)}
.AbuttonD {FILTER:alpha(opacity=30)}
.BTNimgD {FILTER:alpha(opacity=30)}
.BTNiconD {FILTER:alpha(opacity=15)}
.BTNicon2D {FILTER: alpha(opacity=30)}
.BTNicon SPAN, .BTNiconD SPAN, .BTNiconH SPAN {margin:0px;}
/*Fix for 17260156 */
/*.CHKstd , .RADstd{margin-top:-2px}*/
/*#toolbar button,.TBgp3 {position:relative}*/
 /*#toolbar, */#toolbar button,.TBgp1,.TBgp2,.TBgp3 {position:relative}
/*Fix for 18635767 */
/*.DIVchkrad .LBLauto {width:14.5em} */
/* 11.3 additions */
.DIVcaption1 {width:auto}
/*.DIVtblbox1	{padding:0 0 1em 0;}*/

/*.FSTstd {margin-top:8px}

.FSTstd LEGEND{
	margin-top:-10px;
	margin-bottom:10px;
}*/

/*#TBL_QryRslts .TBLoneTD1, #TBL_QryRslts .TBLone TD {
	PADDING: 1px 5px 1px 5px;
}*/

/*#TBL_QryRsltsHeader .TBLoneTH1, #TBL_QryRsltsHeader .TBLoneTH, #TBL_QryRsltsHeader .TBLoneTHhover{
	PADDING: 1px 5px 1px 5px;
}	*/

/* static header change .TBLoneTD1{
	PADDING: 2px;
}*/

.TBLone TD {
    PADDING: 2px 6px;
}

.TBLoneTH1, .TBLoneTH, .TBLoneTHhover{
	PADDING: 2px;
}	
/*#TblQuery button {position:absolute}*/




.BTNimg SPAN {
  margin-left:1px;
  margin-top:1px
}
.BTNimgD SPAN {
  margin-left:1px;
  margin-top:1px
}

.BTNimgH SPAN {
  margin-left:1px;
  margin-top:1px
}

.BTNicon2 SPAN {
    margin-left:1px;
    margin-top:2px
}

.BTNicon2D SPAN {
    margin-left:1px;
    margin-top:2px
}

.BTNicon2H SPAN {
    margin-left:1px;
    margin-top:2px
}

.numeric{
    TEXT-ALIGN: right;
	/* SFR14524057 commented below line */
    /*overflow: visible;*/ 
    /* change for holiday maint alignment */
    padding-right: 1px; /*changed for cursor not blinking in amount and number fields (IUT) */
}
/*Fix for 17180805 */
.TXTcal{
   padding-right: 1px;
}

/*12.0.3 change*/
.sectionToggle .BTNicon{
  margin-left:3px;
  margin-right:3px;
}

/*static header change */
.BTNhide{
  WIDTH: 1.36em;
	HEIGHT: 1.1em;
}

/* Start : Fix for 25460761- expand/collapse button not completely visible 27/Jan/17*/
.sectionExpand, .sectionExpand:hover {
    top: -5px;
    left: -1px;
}

.subSystemCollapse, .subSystemExpand {
    right: 4px;
}

.BTNicon .sectionCollapse, .BTNiconH .sectionCollapse {
    left: 0px;
}
/* End : Fix for 25460761- expand/collapse button not completely visible 27/Jan/17*/

/*9NT1606_12_4_RETRO_12_0_1_26230262 changes */
.TBLgrid TEXTAREA {
    VERTICAL-ALIGN: middle;
	white-space:pre-wrap;
}

/*9NT1606_12_4_RETRO_12_2_26818248 changes*/
.BTNfooter:disabled{
  COLOR: #C0C0C0;  
}