/*----------------------------------------------------------------------------------------------------
**
** File Name    :ExtBROWSER_GO.css
**
** Module       : FCJWeb
**
** This source is part of the Oracle Flexcube Universal Banking
** Software System and is copyrighted by Oracle Financial Services Software Limited.

** All rights reserved.  No part of this work may be reproduced,
** stored in a retrieval system, adopted or transmitted in any form
** or by any means, electronic, mechanical, photographic, graphic,
** optic recording or otherwise, translated in any language or
** computer language, without the prior written permission  from Oracle Financial Services
** Software Limited.

** Oracle Financial Services Software Limited.,
** 10-11, SDF I, SEEPZ, Andheri (East),
** MUMBAI - 400 096.
** INDIA.

Copyright � 2009-2012  by Oracle Financial Services Software Limited..
----------------------------------------------------------------------------------------------------
*/
/* Style definitions specific to Google Chrome 3+ */
.LBLstd {
    word-wrap: break-word
}
/*udf change*/
.LBLUdf {
    word-wrap: break-word
}
/*udf change */
/*B SPAN, A span {
    margin-left: -3px
}*/

#nav B span {
    margin-left: 0px
}

.CHKstd, .RADstd {
    margin-top: 0px
}

.RADstd {
    margin: 0px 0px 3px 0px
}
/* static header change#TBL_QryRslts .TBLoneTD1, #TBL_QryRslts .TBLone TD {
	PADDING: 5px 5px 1px 5px;
}*/
#TBL_QryRslts .TBLoneTH1, #TBL_QryRslts .TBLoneTH, #TBL_QryRslts .TBLoneTHhover {
    PADDING: 5px 5px 1px 5px;
}
/* static header change .TBLoneTD1{
	PADDING: 2px;
}*/
.TBLone TD {
    PADDING: 2px 6px;
}

.TBLoneTH1, .TBLoneTH, .TBLoneTHhover {
    PADDING: 2px;
}
/*#TblQuery button {position:absolute}*/
/* Browser specific for precise alignment*/
/*.TXTstd {
    BORDER-BOTTOM: #c7d7f0 1px solid;
    BORDER-LEFT: #c7d7f0 1px solid;
    MARGIN: 0px;
    PADDING: 0px;
    FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif;
    COLOR: #00366a;
    FONT-SIZE: 0.74em;
    VERTICAL-ALIGN: top;
    BORDER-TOP: #c7d7f0 1px solid;
    BORDER-RIGHT: #c7d7f0 1px solid
}*/
/*HTML5 Changes Start*/
/*
.BTNimgH {
    BORDER-BOTTOM: 1px solid #6c91b5;
    TEXT-ALIGN: center;
    BORDER-LEFT: 1px solid #6c91b5;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px 2px;
    PADDING-LEFT: 0px;
    WIDTH: 1.36em;
    PADDING-RIGHT: 0px;

    BACKGROUND-COLOR: #fff8f0;
    BACKGROUND-REPEAT: repeat-x;
    HEIGHT: 1.25em;
    VERTICAL-ALIGN: middle;

    BORDER-TOP: 1px solid #6c91b5;
    CURSOR: auto;
    BORDER-RIGHT: 1px solid #6c91b5;
    PADDING-TOP: 0px
}
*/
/*HTML5 Changes End*/
.TXTro {
    /*Fix for 16938502 start*/
    /*BORDER-BOTTOM: #d7d7d7 1px solid;
	BORDER-LEFT: #ececec 1px solid; /*Suresh 12.0 release*/
    /*MARGIN: 0px;
	FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif;
	BACKGROUND: none transparent scroll repeat 0% 0%;
        BACKGROUND-COLOR:#f3f3f3;
	COLOR: #00366a;
	FONT-SIZE: 0.74em;
	VERTICAL-ALIGN: top;
	resize: none; 
	BORDER-TOP: #ececec 1px solid; /*Suresh 12.0 release*/
    /*BORDER-RIGHT: #d7d7d7 1px solid; /*Suresh 12.0 release*/
    /*Fix for 16938502 end*/

    resize: none;
}
/*static header change.DIVtblbox2 {
BORDER-BOTTOM: #333 1px solid;
BORDER-LEFT: #333 1px solid;
OVERFLOW-X: auto;
OVERFLOW-Y: auto;
MARGIN: 0px;
DISPLAY: block;
HEIGHT: 8.125em;/*static header change*/
/*CLEAR: both;
OVERFLOW-X: Hidden;
BORDER-TOP: #333 1px solid;
BORDER-RIGHT: #333 1px solid;
border-right: 1px solid #333;
border-bottom: 1px solid #333;
border-left: 1px solid #333;
margin: 0px;
border-top: 1px solid #333;
}*/
textarea {
    resize: none;
}

.BTNtext:disabled {
    COLOR: #C0C0C0;
    TEXT-SHADOW: 1px 1px #FFFFFF
}

.BTNfooter:disabled {
    COLOR: #C0C0C0;
    /*TEXT-SHADOW: 2px 2px #FFFFFF*//*HTML5 Changes*/
}