/*----------------------------------------------------------------------------------------------------
**
** File Name    :ExtBROWSER_SF.css
**
** Module       : FCJWeb
**
** This source is part of the Oracle Flexcube Universal Banking
** Software System and is copyrighted by Oracle Financial Services Software Limited.

** All rights reserved.  No part of this work may be reproduced,
** stored in a retrieval system, adopted or transmitted in any form
** or by any means, electronic, mechanical, photographic, graphic,
** optic recording or otherwise, translated in any language or
** computer language, without the prior written permission  from Oracle Financial Services
** Software Limited.

** Oracle Financial Services Software Limited.,
** 10-11, SDF I, SEEPZ, Andheri (East),
** MUMBAI - 400 096.
** INDIA.

Copyright � 2009-2012  by Oracle Financial Services Software Limited..
----------------------------------------------------------------------------------------------------
*/
/* Style definitnions specific to Safari 4+ */

.LBLstd {word-wrap:break-word}
/*udf change*/
.LBLUdf {word-wrap:break-word}
/*udf change */
BUTTON SPAN, B SPAN, A span{ margin-left:-3px}
#nav B span {margin-left:0px}
.DIVHeaderBodyContainer {width:100%}
.CHKstd , .RADstd{margin-top:0px}
.RADstd{margin:0px 0px 3px 0px}

#TBL_QryRslts .TBLoneTD1, #TBL_QryRslts .TBLone TD {
	PADDING: 5px 5px 1px 5px;
}

#TBL_QryRslts .TBLoneTH1, #TBL_QryRslts .TBLoneTH, #TBL_QryRslts .TBLoneTHhover{
	PADDING: 5px 5px 1px 5px;
}	

/* static header change .TBLoneTD1 {
	PADDING: 2px;
}*/

.TBLone TD {
    PADDING: 2px 6px;
}

.TBLoneTH1, .TBLoneTH, .TBLoneTHhover{
	PADDING: 2px;
}	

.TXTro{
	resize: none; 
}