@charset "utf-8";
/* CSS Document */

.Astd, .LBLstd, .FSTstd LEGEND, .FSTstd LEGEND, .FSTdlg LEGEND, .DIVmultiplebox .hh4, .hh4, LABEL, .navTB .TBitem, .treeview .Astd, .SPNtbltwoH, .DIVmultiplebox .hh4, .hh4smallFontst, .TXTstdsmallFontst, .TXAro, .TXTro, .TXAstd, .TBLgrid .TXTro, .SPNtbltwoC, .SPNtbltwoH, .DIVmultiplebox .hh4, .hh4,.TXTstd,.BTNtext,.BTNfooter ,.BTNfooterH, .DIVfooter LABEL, .DIVfooter .LBLauto, .SELro, .SELstd{/* HTML5 Changes 6/OCT/2016 */
	font-size: .7em
}
.DIVtab .Htaball SPAN, .DIVtab .Htabover SPAN, .Abutton, .AbuttonH, .DIVmultiplebox .hh4dash, .DashTXTro, .THgrid .SPNtext, .TBLoneTH .Astd, 
.DIVtab .Htabsel SPAN, .TXTroDash, .Abutton, .AbuttonH, .Astd, .BUTTONSubSystem, .DLlengend, .DLlengend dt, .DLlengend dd, .LABELNormal {
	font-size: .74em
}

.DIVtab #nav div.inD ul.listPop li, .LBLmenustd, .SPNvtabH, .DIVtab #nav div.inD UL li.bank .LBLmenustd, .DIVtab #nav div.inD UL li.window .LBLmenustd, .DIVtab #nav div.inD UL li.user .LBLmenustd, .DIVtab #nav div.inD UL li.time .DIVtab #nav div.inD UL li .LBLmenustd {
    font-size: .65em
}

.WNDtitletxt {
    font-size: .8em
}