<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
     version="2.4">
   	
	<!-- KERNEL10.0 Property file Path Change STARTS -->
	<env-entry> 
		<description>Property File Path</description>
		<env-entry-name>propertyPath</env-entry-name>  
		<env-entry-type>java.lang.String</env-entry-type>  
		<env-entry-value>D:/Iflex/FCJ/Kernel/</env-entry-value> 
   </env-entry> 
   <!-- KERNEL10.0 Property file Path Change ENDS -->
   
	
	<!-- EJB Remote Reference Entry STARTS-->
	<ejb-ref>
		<ejb-ref-name>GW_EJB_Bean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.iflex.fcubs.gw.ejb.GWEJBRemoteHome</home>
		<remote>com.iflex.fcubs.gw.ejb.GWEJBRemote</remote>
	</ejb-ref>
	<!-- EJB Remote Reference Entry ENDS-->
	
</web-app>